a {
  text-decoration: none;
  /* Отменяем подчеркивание у ссылки */
}
body {
  font-size: 18px;
  line-height: 27px;
  min-width: 320px;
  font-family: OpenSans, sans-serif;
  font-style: normal;
  margin: 0;
  padding: 0;
}
.page-header,
.page-header2 {
  height: auto;
  margin: 0 auto;
  min-width: 320px;
  background: url("img/background-mobile@2x.jpg") no-repeat;
}
.page-header__button {
  outline: none;
}
@keyframes bounce {
  0% {
    transform: translateY(-2000px);
  }
  100% {
    transform: translateY(0);
  }
}
.menu {
  width: 100%;
  height: 440px;
  position: absolute;
  z-index: 10;
  animation: bounce 0.6s;
}
.menu-closed {
  display: none;
}
.menu-no-js {
  width: 100%;
  height: 440px;
  position: absolute;
  z-index: 10;
  display: block;
}
.page-header__wrapper {
  min-width: 320px;
}
.text {
  text-align: center;
}
.page-header__logo-image-li {
  position: absolute;
  top: 29px;
  left: 29px;
}
.site-list__link-close {
  position: absolute;
  top: 29px;
  left: 85%;
  float: right;
}
.page-header__logo-image-desktop {
  display: none;
}
.page-header__logo-image-mobile {
  margin-right: 20px;
}
.platforms__download {
  width: 60%;
  text-align: center;
  display: block;
  border: 3px solid white;
  border-radius: 50px;
  padding: 16px 40px;
  text-decoration: none;
  outline: none;
  display: inline-block;
  color: white;
  margin-top: 28px;
  margin-left: 7%;
}
.platforms__download:hover {
  background: white;
  color: #d22856;
}
.platforms__download:active {
  background: white;
  color: #f2cdd4;
}
.page-header__wrapper-border {
  height: 65px;
  display: block;
  background-color: rgba(31, 40, 51, 0.35);
}
.page-header__logo-image-mobile {
  float: left;
  padding-top: 21px;
  padding-left: 5%;
}
.page-header__button {
  float: right;
  background-color: rgba(31, 40, 51, 0);
  border: 0 none;
  padding-left: 5%;
}
.platforms {
  background: #252b34;
}
.platforms__description {
  width: 72%;
  color: white;
  margin: 0 auto;
  margin-bottom: 37px;
  font-size: 12px;
  text-align: center;
  line-height: 24px;
}
.site-list__item-logo {
  display: none;
}
.main-nav__list,
.platforms__list {
  margin: 0;
  padding: 0;
  list-style: none;
}
.platforms__list {
  height: 109px;
  width: 75%;
  margin: 0 auto;
  padding-right: 30px;
}
.main-nav__list {
  min-height: 60px;
  width: 100%;
  text-align: center;
  min-height: 255px;
  background-color: #303947;
}
.site-list__item,
.site-list__iteml,
.site-list__item-m {
  height: 65px;
  border-top: 1px solid #474f5c;
  border-bottom: 2px solid black ;
  padding-top: 25px;
}
.site-list__item-m {
  padding-top: 93px;
}
.site-list__item-li {
  width: 50%;
  float: left;
  border-top: 1px solid #474f5c;
  border-bottom: 2px solid black ;
  height: 65px;
}
.site-list__item-close {
  width: 50%;
  float: right;
  color: white;
  padding-top: 25px;
  border-top: 1px solid #474f5c;
}
.site-list__link {
  height: 13px;
  color: white;
  text-decoration: none;
}
.site-list__link:hover {
  color: #f31b62;
}
.site-list__link:active {
  color: #f31b62;
  opacity: 0.3;
}
.platforms__wrapper {
  width: 320px;
  margin: 0 auto;
  height: 275px;
  background-color: #252b34;
}
.platforms__item {
  display: inline-block;
  padding-left: 12.5%;
  padding-top: 30px;
}
.platforms__text {
  display: none;
}
.iphone-han {
  margin-bottom: 0;
  width: 80%;
  height: 395px;
}
.app__image-mobile {
  position: relative;
  top: 111px;
}
.main-nav-desktop {
  display: none;
}
.app {
  min-height: 616px;
  width: 100%;
  margin: 0 auto;
}
.text-title {
  color: white;
  font-size: 24px;
  font-weight: 500;
  padding-top: 32px;
  padding-bottom: 32px;
}
.text__wrapper {
  height: auto;
}
@media (min-width:768px) {
  .platforms__wrapper {
    width: 300px;
    margin-left: 40px;
    height: 405px;
  }
  .platforms {
    background: transparent;
  }
  .menu {
    width: 100%;
    height: 440px;
    position: absolute;
    z-index: 10;
  }
  .menu-no-js {
    width: 100%;
    height: 440px;
    position: absolute;
    z-index: 10;
    display: block;
  }
  .menu-closed {
    display: none;
  }
  .iphone-han {
    margin-bottom: 0;
    width: 60%;
    height: 395px;
  }
  .app__image-tablet {
    position: relative;
    top: 157px;
    left: 99px;
  }
  .platforms__list {
    padding-left: 11%;
    list-style: none;
    padding-top: 10px;
    min-height: 130px;
  }
  .text-title {
    font-size: 50px;
    font-weight: 500;
    line-height: 50px;
  }
  .platforms__description {
    padding-left: 6%;
    width: 98%;
    color: white;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 37px;
    font-size: 18px;
    line-height: 24px;
  }
  .android-logo {
    opacity: 0.5;
  }
  .platforms__download {
    display: block;
    text-align: center;
    border: 3px solid white;
    border-radius: 50px;
    padding: 13px 40px;
    font-size: 18px;
    line-height: 18px;
    font-weight: 900;
    text-decoration: none;
    outline: none;
    display: inline-block;
    color: white;
    margin-left: 14%;
    margin-top: 0;
  }
  .platforms__text {
    font-size: 40px;
    font-weight: 10;
    line-height: 50px;
    display: block;
    height: 181px;
    color: white;
    width: 66%;
    margin: 0 auto;
    margin-left: 21%;
    text-align: center;
  }
  .page-header {
    height: 728px;
    background: url("img/background-tablet@1x.jpg") no-repeat;
  }
  .page-header2 {
    height: 437px;
    background: url("img/background-tablet@1x.jpg") no-repeat;
  }
  .text-title {
    color: white;
    padding-top: 82px;
  }
  .platforms__wrapper {
    position: relative;
    width: 50%;
    height: 415px;
    background-color: transparent;
    z-index: 5;
    top: -341px;
  }
  .app {
    width: 100%;
    margin: 0 auto;
    margin-top: 140px;
  }
}
@media (min-width: 770px) {
  .app__image-tablet {
    top: 157px;
    left: 99px;
  }
  .iphone-han {
    margin-bottom: 0;
    width: 60%;
    height: 395px;
  }
}
@media (min-width: 780px) {
  .app__image-tablet {
    top: 157px;
    left: 99px;
  }
  .iphone-han {
    margin-bottom: 0;
    width: 60%;
    height: 395px;
  }
}
@media (min-width:1200px) {
  .main-nav-desktop {
    display: block;
    height: 100px;
  }
  .main-nav--opened2 {
    display: none;
    height: 0;
  }
  .main-nav__list {
    min-height: 60px;
    width: 100%;
    text-align: center;
    min-height: 105px;
    background-color: transparent;
  }
  .main-nav {
    display: none;
  }
  .platforms__text {
    display: block;
  }
  .app {
    width: 100%;
    max-width: 940px;
    margin: 0 auto;
  }
  .page-header {
    width: 100%;
    background: url("img/background-fullsize.jpg");
  }
  .page-header2 {
    width: 100%;
    background: url("img/background-fullsize.jpg");
  }
  .main-nav {
    width: 100%;
    margin: 0 auto;
  }
}
@media (min-width:768px) {
  .main-nav {
    width: auto;
    margin: 0;
    min-height: 105px;
  }
}
.platforms__item {
  display: inline-block;
}
.app__image-tablet {
  float: right;
  display: none;
}
.app__image-desktop {
  display: none;
  float: right;
}
.app__image-mobile {
  display: block;
  float: right;
}
@media (min-width:768px) {
  .main-nav__list {
    min-height: 69px;
    width: 100%;
  }
  .site-list__item {
    min-height: 60px;
  }
  .site-list__iteml {
    min-height: 60px;
  }
  .app__image-tablet {
    float: right;
    display: block;
  }
  .app__image-desktop {
    display: none;
    float: right;
  }
  .app__image-mobile {
    display: none;
    float: right;
  }
}
@media (min-width:1200px) {
  .main-nav__list {
    min-height: 105px;
    float: left;
    width: 50%;
    position: absolute;
    top: 35px;
    left: 46.8%;
  }
  .platforms__wrapper {
    margin-top: 130px;
    top: 0;
  }
  .platforms__description {
    font-size: 18px;
    line-height: 24px;
    font-weight: 100;
  }
  .iphone-han {
    margin-bottom: 0;
    width: 550px;
    position: absolute;
    height: 351px;
    top: 390px;
    left: 49.2%;
  }
  .platforms__text {
    display: block;
    height: 181px;
    font-size: 50px;
    line-height: 50px;
    font-weight: 10;
    color: white;
    width: 56.5%;
    margin-left: 24%;
    text-align: center;
  }
  .platforms__list {
    min-height: 140px;
    padding-top: 25px;
    padding-left: 13%;
  }
  .site-list__item-desk {
    font-size: 18px;
    min-height: 105px;
    float: left;
    color: white;
  }
  .site-list__link-desk:hover {
    border-bottom: 2px solid white;
  }
  .site-list__link-desk:active {
    color: #7f858c;
    border-bottom: 0px;
  }
  .site-list__link-desk-active:hover {
    color: #842945;
    border-bottom: 2px solid #842945;
  }
  .site-list__link-desk-active:active {
    color: #7f858c;
    border-bottom: 0px;
  }
  .site-list__item-desk {
    min-height: 60px;
    margin: 0 auto;
    margin-right: 80px;
    float: left;
  }
  .site-list__iteml-desk {
    min-height: 60px;
  }
  .page-header__wrapper-border {
    display: none;
  }
  .page-header__logo-image-desktop {
    display: block;
    margin-left: 13%;
    margin-top: 26px;
    position: absolute;
    z-index: 2;
  }
  .platforms__download {
    font-size: 21px;
    line-height: 18px;
    font-weight: 900;
  }
  .main-nav-desktop {
    background-color: rgba(31, 40, 51, 0.35);
  }
  .site-list__link-desk {
    color: white;
  }
  .app__image-tablet {
    float: right;
    display: none;
  }
  .app__image-desktop {
    display: block;
    width: 550px;
    float: right;
  }
  .app__image-mobile {
    display: none;
    float: right;
  }
  .platforms__item {
    display: inline-block;
  }
  .text-title {
    text-align: center;
  }
  .menu {
    height: 0px;
    display: none;
  }
}
.main-footer {
  display: none;
}
.main-footer2 {
  display: block;
  margin: 0 auto;
  width: 100%;
  min-height: 235px;
  max-width: 280px;
}
.footer-logo {
  margin-left: 6%;
  padding-top: 40px;
  display: block;
  margin: 0 auto;
  width: 146px;
}
.footer-logo:active {
  opacity: 0.3;
}
.footer-social {
  margin-left: 65px;
  margin-top: 40px;
  float: left;
  width: 180px;
  height: 50px;
}
.footer-social__tw {
  width: 50px;
  height: 50px;
  border: 2px solid #d2d3d4;
  border-radius: 50%;
  padding: 10px;
}
.footer-social__fb {
  width: 50px;
  height: 50px;
  border: 2px solid #d2d3d4;
  border-radius: 50%;
  padding: 10px;
}
.footer-social__yt {
  width: 50px;
  height: 50px;
  border: 2px solid #d2d3d4;
  border-radius: 50%;
  padding: 10px;
}
.footer-social__tw:hover {
  border: 2px solid black;
}
.footer-social__fb:hover {
  border: 2px solid black;
}
.footer-social__yt:hover {
  border: 2px solid black;
}
.footer-social__tw:active {
  border: 2px solid #bec2c7;
  opacity: 0.3;
}
.footer-social__fb:active {
  border: 2px solid #bec2c7;
  opacity: 0.3;
}
.footer-social__yt:active {
  border: 2px solid #bec2c7;
  opacity: 0.3;
}
.footer-img_social {
  height: 18px;
  width: 24px;
}
.footer-discribe {
  margin-top: 106px;
  margin-left: 93px;
  width: 93px;
  padding: 0;
  padding-left: 2px;
  background: #d22856;
  border: 2px solid transparent;
  border-radius: 5px;
  box-shadow: 0 0 10px #000000;
}
.vlad {
  font-style: italic;
  color: black;
}
.footer-discribe:hover {
  background-color: purple;
  box-shadow: 0 0 30px #000000;
  transition: box-shadow 0.6s;
}
.footer-discribe:active {
  animation: slideranimation 0.6s;
  background-color: black;
  box-shadow: 0 0 30px #000000;
}
.vlad:active {
  color: red;
}
@media (min-width:768px) {
  .main-footer2 {
    display: none;
  }
  .main-footer {
    display: block;
    margin: 0 auto;
    width: 100%;
    min-height: 130px;
    max-width: 940px;
  }
  .footer-logo {
    margin-left: 6%;
    padding-top: 40px;
    display: block;
    float: left;
  }
  .footer-logo:active {
    opacity: 0.3;
  }
  .footer-social {
    padding-top: 10px;
    margin-left: 18%;
    float: left;
    width: 22.8%;
  }
  .footer-social__tw {
    width: 50px;
    height: 50px;
    border: 2px solid #d2d3d4;
    border-radius: 50%;
    padding: 10px;
  }
  .footer-social__fb {
    width: 50px;
    height: 50px;
    border: 2px solid #d2d3d4;
    border-radius: 50%;
    padding: 10px;
    margin-left: 1.9%;
    margin-right: 1.9%;
  }
  .footer-social__yt {
    width: 50px;
    height: 50px;
    border: 2px solid #d2d3d4;
    border-radius: 50%;
    padding: 10px;
  }
  .footer-img_social {
    height: 18px;
    width: 24px;
  }
  .footer-discribe {
    margin: 0;
    margin-top: 56px;
    margin-right: 6%;
    float: right;
    width: auto;
    padding: 0;
    padding-left: 2px;
    background: #d22856;
    border: 2px solid transparent;
    border-radius: 5px;
    box-shadow: 0 0 10px #000000;
  }
  .footer-discribe:hover {
    background-color: purple;
    box-shadow: 0 0 30px #000000;
    transition: box-shadow 0.6s;
  }
  .footer-discribe:active {
    animation: slideranimation 0.6s;
    background-color: black;
    box-shadow: 0 0 30px #000000;
  }
  .vlad {
    color: black;
  }
  .vlad:active {
    color: red;
  }
}
@media (min-width:1200px) {
  .main-footer {
    margin: 0 auto;
    max-width: 940px;
    display: block;
    width: 100%;
  }
  .footer-logo {
    margin-left: 6%;
    display: block;
    float: left;
  }
  .footer-social {
    margin-left: 20%;
    float: left;
  }
  .footer-discribe {
    margin-right: 6%;
    float: right;
  }
}
body {
  font-size: 18px;
  line-height: 27px;
  font-family: OpenSans, sans-serif;
  font-style: normal;
}
img {
  height: auto;
}
.content {
  min-height: 1824px;
}
.content-wrapper {
  width: 100%;
  margin: 0 auto;
}
@media (min-width:768px) {
  .content-wrapper {
    width: 100%;
  }
}
@media (min-width:1200px) {
  .content {
    width: 100%;
    max-width: 1200px;
  }
  .content-wrapper {
    max-width: 1200px;
  }
}
.offer {
  min-height: 182px;
  margin: 0 auto;
  margin-bottom: 50px;
}
.offer-title {
  line-height: 24px;
  font-size: 24px;
  font-weight: 100;
  padding-top: 50px;
  margin: 0 auto;
  text-align: center;
}
.offer-title2 {
  line-height: 24px;
  font-size: 24px;
  font-weight: 100;
  padding-top: 50px;
  margin: 0 auto;
  text-align: center;
}
@media (min-width:768px) {
  .offer-title {
    line-height: 40px;
    font-size: 40px;
    padding-top: 60px;
  }
  .offer-title2 {
    line-height: 40px;
    font-size: 40px;
    padding-top: 0px;
    width: 54%;
  }
}
@media (min-width:1200px) {
  .offer-title {
    line-height: 50px;
    font-size: 50px;
    padding-top: 85px;
  }
  .offer-title2 {
    line-height: 50px;
    font-size: 50px;
    padding-top: 0px;
  }
}
.info {
  margin: 0 auto;
  clip-path: polygon(0 32px, 100% 0, 100% 100%, 0 100%);
  background: #f2f2f2;
  padding-top: 60px;
}
.info-wrapper {
  background: #f2f2f2;
  width: 76%;
  margin: 0 auto;
}
.img-info1 {
  display: none;
}
.img-info2 {
  display: none;
}
.img-info3 {
  display: none;
}
.img-info5 {
  display: none;
}
.img-info4 {
  width: 263px;
  display: block;
  margin: 0 auto;
}
.img-4 {
  background: #f2f2f2;
  width: 100%;
  display: block;
  margin: 0 auto;
  margin-top: 47px;
}
.info-item__third {
  margin: 0 auto;
}
.info-item__first {
  margin: 0 auto;
}
.info-item__second {
  margin: 0 auto;
}
.info-item__title {
  font-size: 12px;
  line-height: 24px;
  font-weight: 800;
  text-align: center;
}
.info-item__describe {
  font-size: 12px;
  line-height: 24px;
  font-weight: 100;
  text-align: center;
}
@media (min-width:768px) {
  .info {
    width: 100%;
    margin-top: 50px;
    height: 485px;
    padding-top: 0px;
    clip-path: polygon(0 56px, 100% 0, 100% 100%, 0 100%);
  }
  .img-4 {
    display: none;
  }
  .info-wrapper {
    width: 310px;
    margin-left: 45.5%;
    padding-top: 60px;
    padding-bottom: 50px;
  }
  .img-info5 {
    position: absolute;
    z-index: 5;
    height: 485px;
    left: 40px;
    top: 960px;
    display: block;
    float: left;
  }
  .img-info4 {
    display: none;
    margin: 0 auto;
  }
  .info-item__title {
    font-size: 14px;
    text-align: left;
  }
  .info-item__describe {
    font-size: 14px;
    text-align: left;
  }
}
@media (min-width:1200px) {
  .info {
    width: 100%;
    margin-top: 50px;
    min-height: 560px;
    clip-path: polygon(0 93px, 100% 0, 100% 100%, 0 100%);
  }
  .img-info1 {
    display: block;
    margin: 0 auto;
  }
  .img-info2 {
    display: block;
    margin: 0 auto;
  }
  .img-info3 {
    display: block;
    margin: 0 auto;
  }
  .img-info4 {
    display: none;
  }
  .img-info5 {
    display: none;
  }
  .info-item__third {
    width: 244px;
    float: right;
    position: absolute;
    top: 1030px;
    left: 67%;
    margin-right: 190px;
  }
  .info-item__first {
    float: left;
    position: absolute;
    top: 1030px;
    left: 15.8%;
    width: 244px;
  }
  .info-item__second {
    width: 244px;
    float: left;
    position: absolute;
    top: 1030px;
    left: 42%;
  }
  .info-item__title {
    font-size: 30px;
    line-height: 30px;
    text-align: center;
  }
  .info-item__describe {
    font-size: 18px;
    line-height: 30px;
    text-align: center;
  }
  .info-wrapper {
    width: 100%;
    margin-left: 0;
    height: 560px;
    padding-top: 60px;
    padding-bottom: 50px;
  }
}
.effect {
  display: none;
}
@media (min-width:768px) {
  .effect {
    display: block;
    width: 80.7%;
    margin: 0 auto;
    min-width: 620px;
    min-height: 337px;
    margin-top: 60px;
  }
  .effect-title {
    line-height: 36px;
    font-size: 30px;
    width: 170px;
    font-weight: 800;
  }
  .effect-discribe {
    line-height: 24px;
    font-size: 14px;
    width: 310px;
    font-weight: 100;
  }
  .effect-wrapper {
    position: relative;
    top: -238px;
    left: 5px;
    margin-top: 20px;
    float: right;
    margin-right: 7%;
    width: 48%;
  }
  .effect-link {
    line-height: 24px;
    font-size: 14px;
    width: 310px;
    font-weight: 100;
    color: #d85473;
    border-bottom: 1px solid #d85473;
  }
  .effect-img-1 {
    position: relative;
    width: 186px;
    height: 186px;
    border: 15px solid #d22856;
    border-radius: 50%;
    top: 50px;
    left: 12px;
  }
  .text-round {
    color: #d22856;
    line-height: 72px;
    font-size: 72px;
    font-weight: 800;
    width: 105px;
    height: 72px;
    position: relative;
    top: -210px;
    left: 50px;
  }
  .effect-img2 {
    display: none;
  }
  .effect-img1 {
    opacity: 0.5;
    display: block;
    float: left;
  }
}
@media (min-width:1200px) {
  .effect {
    background: #f2f2f2;
    display: block;
    width: 100%;
    margin-top: 0px;
    min-height: 337px;
  }
  .effect-img2 {
    position: relative;
    top: -295px;
    left: 100px;
    opacity: 0.1;
    display: block;
    float: left;
  }
  .effect-img-1 {
    position: relative;
    width: 220px;
    height: 220px;
    border: 15px solid #d22856;
    border-radius: 50%;
    background: #f2f2f2;
    top: 29px;
    left: 125px;
  }
  .text-round {
    color: #d22856;
    line-height: 85px;
    font-size: 85px;
    font-weight: 800;
    width: 105px;
    height: 85px;
    position: relative;
    top: 67px;
    left: 59px;
  }
  .effect-wrapper {
    margin-top: 70px;
    float: right;
    width: 56%;
    margin-right: 0;
    top: -300px;
    left: -40px;
  }
  .effect-title {
    line-height: 30px;
    width: 300px;
    font-weight: 800;
  }
  .effect-discribe,
  .effect-link {
    line-height: 30px;
    font-size: 18px;
    width: 530px;
    font-weight: 100;
  }
  .effect-link {
    width: 286px;
  }
  .effect-img1 {
    display: none;
  }
  .effect-img2 {
    display: block;
    float: left;
  }
}
.photo {
  display: block;
  margin: 0 auto;
  text-align: center;
  height: 184px;
  padding-top: 50px;
}
.photo-title {
  width: 76%;
  margin: 0 auto;
  font-size: 14px;
  line-height: 30px;
}
@media (min-width:768px) {
  .photo {
    width: 67%;
    padding-top: 110px;
    height: 228px;
  }
  .photo-title {
    width: 100%;
    margin: 0 auto;
    font-size: 18px;
    line-height: 30px;
  }
}
@media (min-width:1200px) {
  .photo {
    width: 49%;
    height: 240px;
  }
}
.photo-first {
  min-height: 331px;
  width: 100%;
  margin-bottom: 15px;
}
.photo-main__title-1 {
  margin-top: 0;
  font-size: 14px;
  line-height: 24px;
}
.photo-main__item {
  font-size: 12px;
  line-height: 24px;
  color: white;
  width: 140px;
  height: 30px;
  background-color: #d22856;
  text-align: center;
  padding-top: 5px;
  position: relative;
  top: 35px;
  left: 160px;
}
.photo-wrapper {
  height: 2586px;
}
.photo-main__title {
  margin-top: 0;
  font-size: 14px;
  line-height: 24px;
}
.photo-main__content {
  margin-top: 0;
  min-height: 105px;
  font-size: 14px;
  line-height: 24px;
}
.photo-main__counter-like-desk {
  display: none;
}
.time {
  font-size: 12px;
  line-height: 24px;
  color: #a6a9ad;
  font-weight: 100;
}
.heart {
  padding-top: 10px;
  float: left;
  height: 15px;
}
.photo-main__counter-like {
  margin-left: 19px;
  font-size: 14px;
  line-height: 24px;
  color: #e3a6b3;
}
.photo-main1,
.photo-main2,
.photo-main3,
.photo-main4,
.photo-main5,
.photo-main6 {
  width: 88%;
  max-width: 280px;
  margin: 0 auto;
  margin-bottom: 15px;
}
.heart-desk {
  display: none;
}
.photo-main__discribe1 {
  width: 280px;
  display: block;
  margin: 0 auto;
  max-width: 320px;
  background: #f2f2f2;
  padding: 25px 17px;
}
.photo-main__discribe {
  max-width: 280px;
  padding: 25px 17px;
  background: #f2f2f2;
}
.photo-main-tablet {
  display: none;
}
.photo-main-desktop {
  display: none;
}
.photo-mobile {
  display: block;
  margin: 0 auto;
}
.photo-tablet {
  display: none;
}
.photo-desktop {
  display: none;
}
.words {
  width: 280px;
  margin: 0 auto;
  font-size: 14px;
  line-height: 30px;
  font-weight: 100;
  text-align: center;
}
.photo-main__footer-desk {
  display: none;
}
.photo-load__form {
  max-width: 940px;
  margin: 0 auto;
}
@media (min-width:768px) {
  .photo-main__item {
    width: 134px;
    top: 98px;
    left: 570px;
  }
  .photo-main1,
  .photo-main2,
  .photo-main3,
  .photo-main4,
  .photo-main5,
  .photo-main6 {
    margin-bottom: 104px;
  }
  .photo-first {
    min-height: 331px;
    width: 100%;
    margin-bottom: 15px;
  }
  .photo-wrapper {
    height: 1500px;
  }
  .photo-main__discribe1 {
    padding: 25px 29px;
    width: 620px;
    margin: 0 auto;
    display: block;
    max-width: 620px;
  }
  .photo-main__content-first {
    max-width: 530px;
    height: 40px;
    margin-top: 0;
    font-size: 14px;
    line-height: 24px;
  }
  .photo-main__counter-like {
    margin-right: 15px;
  }
  .photo-main__footer-first {
    display: none;
  }
  .photo-main__title {
    width: 448px;
    margin: 0;
    float: left;
  }
  .photo-main__title-1 {
    margin-top: 0;
    font-size: 14px;
    line-height: 24px;
  }
  .photo-main__footer-desk {
    display: block;
    float: left;
    padding-left: 40px;
  }
  .photo-main__counter-like {
    margin-left: 0;
  }
  .heart-desk {
    display: block;
    float: right;
    height: 15px;
    margin-top: 10px;
  }
  .heart {
    display: none;
  }
  .photo-main__discribe {
    max-width: 300px;
    padding: 25px 29px;
    background: #f2f2f2;
  }
  .photo-first {
    width: 100%;
  }
  .content {
    min-height: 1500px;
    max-width: 620px;
    margin: 0 auto;
  }
  .photo-main1,
  .photo-main3,
  .photo-main5 {
    width: 300px;
    height: 455px;
    float: left;
    max-width: 300px;
  }
  .photo-main2,
  .photo-main4,
  .photo-main6 {
    width: 300px;
    height: 455px;
    float: right;
    margin-left: 20px;
    max-width: 300px;
  }
  .photo-main-tablet {
    display: block;
  }
  .photo-main-mobile {
    display: none;
  }
  .photo-tablet {
    display: block;
  }
  .photo-mobile {
    display: none;
  }
  .words {
    width: 81%;
    font-size: 18px;
    line-height: 30px;
    font-weight: 100;
    margin: 0 auto;
    padding: 75px 0px;
    margin-top: 150px;
    text-align: center;
  }
}
@media (min-width:1200px) {
  .photo-main__item {
    width: 140px;
    top: 120px;
    left: 1060px;
  }
  .photo-wrapper {
    height: 1286px;
  }
  .words {
    padding: 0;
  }
  .photo-main1,
  .photo-main2,
  .photo-main3,
  .photo-main4,
  .photo-main5,
  .photo-main6 {
    margin-bottom: 134px;
  }
  .content {
    min-height: 1500px;
    max-width: 940px;
    margin: 0 auto;
  }
  .photo-first {
    width: 100%;
    margin-bottom: 15px;
  }
  .photo-main__discribe1 {
    display: block;
    width: 100%;
    max-width: 940px;
  }
  .photo-main__content-first {
    max-width: 930px;
  }
  .photo-main__title {
    width: 748px;
  }
  .content-wrapper {
    min-height: 1170px;
    max-width: 1200px;
    margin: 0 auto;
  }
  .photo-first {
    width: 100%;
  }
  .photo-main1,
  .photo-main2,
  .photo-main5,
  .photo-main4 {
    width: 300px;
    min-height: 559px;
    float: left;
  }
  .photo-main3,
  .photo-main6 {
    width: 300px;
    min-height: 559px;
    float: right;
    margin-left: 0;
  }
  .photo-main2,
  .photo-main5 {
    margin-left: 19px;
  }
  .photo-main4,
  .photo-main6 {
    margin-left: 0;
  }
  .photo-main__discribe {
    max-width: 300px;
    padding: 25px 29px;
    background: #f2f2f2;
  }
  .photo-main-tablet {
    display: none;
  }
  .photo-main-mobile {
    display: none;
  }
  .photo-main-desktop {
    display: block;
  }
  .photo-mobile {
    display: none;
  }
  .photo-tablet {
    display: none;
  }
  .photo-desktop {
    display: block;
  }
  .words {
    margin-bottom: 90px;
  }
}
.title {
  display: block;
  margin: 0 auto;
  text-align: center;
  height: 184px;
  padding-top: 50px;
}
.title-paragraph {
  width: 76%;
  margin: 0 auto;
  font-size: 14px;
  line-height: 30px;
}
.form-text {
  width: 86%;
  text-align: center;
  margin: 0 auto;
}
.form-info__achivments2,
.form-info__app2,
.label--email2,
.label--tel2,
.phone,
.mail {
  display: none;
}
fieldset {
  margin: 0;
  padding: 0;
  border: 0 none;
}
.form-info,
.form-info__contact {
  width: 87.5%;
  padding: 0;
}
.form-info__list {
  list-style: none;
}
.form-info__contact__legend {
  display: none;
}
.label--tel {
  float: left;
  font-size: 14px;
  text-transform: uppercase;
  line-height: 30px;
  color: #d22856;
  margin-bottom: 12px;
  padding-left: 8%;
}
.label--email {
  float: left;
  font-size: 14px;
  margin-bottom: 12px;
  margin-top: 27px;
  text-transform: uppercase;
  line-height: 30px;
  color: #d22856;
  padding-left: 8%;
}
.form-info__legend {
  text-align: center;
}
ul {
  list-style: none;
}
.label-word {
  float: left;
  width: 100%;
  font-size: 14px;
  line-height: 30px;
  color: #d22856;
  text-transform: uppercase;
  padding-left: 8%;
}
.form-textarea__legend {
  text-align: center;
  font-size: 14px;
  text-transform: uppercase;
  line-height: 30px;
  color: #d22856;
}
.form-textarea {
  width: 87.5%;
  margin: 0 auto;
}
.textarea-text {
  width: 87.5%;
  display: block;
  font-size: 18px;
  line-height: 30px;
  padding-top: 25px;
  margin-bottom: 47px;
  font-family: OpenSans, sans-serif;
  font-style: normal;
  height: 200px;
  border: 2px solid #eee;
  margin-left: 6.25%;
}
#surname {
  outline: none;
  font-size: 18px;
  text-align: left;
  line-height: 30px;
  padding-left: 25px;
  width: 87.5%;
  height: 60px;
  border: 2px solid #eee;
}
#name {
  outline: none;
  font-size: 18px;
  text-align: left;
  line-height: 30px;
  padding-left: 25px;
  width: 87.5%;
  height: 60px;
  border: 2px solid #eee;
}
#name2 {
  outline: none;
  font-size: 18px;
  text-align: left;
  line-height: 30px;
  padding-left: 25px;
  width: 87.5%;
  height: 60px;
  border: 2px solid #eee;
}
#surname:hover {
  border: 2px solid #283645;
}
#name:hover {
  border: 2px solid #283645;
}
#name2:hover {
  border: 2px solid #283645;
}
#surname:active {
  border: 2px solid #d22856;
}
#name:active {
  border: 2px solid #d22856;
}
#name2:active {
  border: 2px solid #d22856;
}
#feedback-emotion {
  outline: none;
}
#feedback-emotion:hover {
  border: 2px solid #283645;
}
#feedback-emotion:active {
  border: 2px solid #d22856;
}
.form-info__achivments {
  background: #f2f2f2;
  min-height: 610px;
  padding-left: 20px;
}
.form-info__achivments__legend {
  font-size: 14px;
  text-transform: uppercase;
  line-height: 30px;
  color: #d22856;
  text-align: center;
  padding-top: 82px;
}
.form-info__legend {
  font-size: 14px;
  text-transform: uppercase;
  line-height: 30px;
  color: #d22856;
  text-align: center;
  padding-top: 82px;
}
.checkbox {
  display: none;
}
.checkbox-custom {
  display: block;
  margin-top: 43px;
  width: 38px;
  height: 38px;
  border: 2px solid #e5e5e5;
  background: white;
  border-radius: 3px;
  position: relative;
  left: -11px;
}
.checkbox-custom:hover {
  border: 2px solid #283645;
}
.checkbox-custom:active {
  border: 2px solid #d22856;
}
input[type="checkbox"]:checked + span::after {
  content: "";
  display: block;
  position: relative;
  width: 36px;
  height: 36px;
  right: -5px;
  bottom: -8px;
  background: url(img/icon-yes.svg) no-repeat;
}
.text-after {
  position: relative;
  font-size: 18px;
  line-height: 30px;
  top: -39px;
  left: 62px;
}
#phone-number {
  outline: none;
  font-size: 18px;
  text-align: left;
  line-height: 30px;
  padding-left: 25px;
  width: 87.5%;
  height: 60px;
  border: 2px solid #eee;
}
#email {
  outline: none;
  font-size: 18px;
  text-align: left;
  line-height: 30px;
  padding-left: 25px;
  width: 87.5%;
  height: 60px;
  border: 2px solid #eee;
}
#phone-number:hover {
  border: 2px solid #283645;
}
#email:hover {
  border: 2px solid #283645;
}
#phone-number:active {
  border: 2px solid #d22856;
}
#email:active {
  border: 2px solid #d22856;
}
.form-info__app {
  background: #f2f2f2;
  margin-bottom: 60px;
  padding-left: 20px;
}
.text-after-radio {
  position: relative;
  left: 61px;
  top: -32px;
}
.radio {
  display: none;
}
.radio-custom {
  display: block;
  width: 38px;
  height: 38px;
  border: 2px solid #e5e5e5;
  background: white;
  border-radius: 50%;
  position: relative;
  left: -11px;
}
.radio-custom:hover {
  border: 2px solid #283645;
}
.radio-custom:active {
  border: 2px solid #d22856;
}
.form-info__contact {
  margin-top: 40px;
}
input[type="radio"]:checked + span::after {
  content: "";
  display: block;
  position: absolute;
  width: 15px;
  height: 15px;
  right: 11px;
  bottom: 11px;
  border-radius: 50%;
  background: #d22856;
}
.form-btn-sent {
  outline: none;
  width: 100%;
  height: 60px;
  background: #2aab6d;
  color: white;
  font-size: 18px;
  line-height: 30px;
  border: 0px;
  text-transform: uppercase;
  text-align: center;
}
.form-btn-sent:hover {
  background: #1c9b5e;
}
.form-btn-sent:active {
  background: #1c9b5e;
  opacity: 0.7;
}
.form-btn {
  width: 87.5%;
  height: 60px;
  margin: 0 auto;
}
.colortext {
  color: #de768d;
}
.form-btn-required {
  width: 87.5%;
  margin: 0 auto;
  font-size: 14px;
  line-height: 30px;
  text-transform: uppercase;
  text-align: center;
}
@media (min-width:768px) {
  .title {
    width: 67%;
    padding-top: 110px;
    height: 228px;
  }
  .title-paragraph {
    width: 100%;
    margin: 0 auto;
    font-size: 18px;
    line-height: 30px;
  }
  .label--email,
  .label--tel {
    display: none;
  }
  .form-text {
    width: 87.5%;
    text-align: center;
    margin: 0 auto;
  }
  fieldset {
    border: 2px solid #eee;
  }
  .form-info {
    margin: 0 auto;
    width: 87.5%;
    padding: 0;
    border: 0 none;
  }
  .form-info__list-item1,
  .form-info__list-item2,
  .form-info__list-item {
    min-height: 70px;
  }
  .form-info__list {
    width: 100%;
    float: left;
    list-style: none;
    min-height: 335px;
  }
  .form-info__contact__legend {
    display: block;
    text-align: center;
  }
  .form-info__contact {
    margin: 0 auto;
    width: 87.5%;
    min-height: 310px;
  }
  .label--tel2 {
    font-size: 14px;
    text-transform: uppercase;
    line-height: 30px;
    color: #d22856;
    display: block;
    width: 135px;
    margin-bottom: 43px;
    padding-left: 3%;
  }
  .phone {
    display: block;
    width: 6.2%;
    height: 40px;
    background: #e5e5e5;
    position: relative;
    padding-left: 22px;
    padding-top: 22px;
    top: -64px;
    left: 82.3%;
    border-radius: 3px;
  }
  .mail {
    display: block;
    border-radius: 3px;
    width: 6.2%;
    height: 40px;
    background: #e5e5e5;
    position: relative;
    padding-left: 22px;
    padding-top: 22px;
    top: -64px;
    left: 82.3%;
  }
  .label--email2 {
    font-size: 14px;
    text-transform: uppercase;
    line-height: 30px;
    color: #d22856;
    display: block;
    width: 135px;
    margin-bottom: 38px;
    padding-left: 3%;
  }
  .form-info__legend {
    text-align: center;
    padding-top: 0;
    padding-left: 28px;
    padding-right: 28px;
  }
  ul {
    list-style: none;
  }
  .label-word {
    float: left;
    min-height: 70px;
    width: 16%;
    position: relative;
    padding: 0;
    top: 25px;
    padding-bottom: 49px;
  }
  .form-textarea__legend {
    text-align: center;
    padding-left: 28px;
    padding-right: 28px;
  }
  .textarea-text {
    width: 87.5%;
    height: 200px;
    border: 2px solid #eee;
    margin-left: 6.25%;
  }
  #surname {
    outline: none;
    width: 69%;
    height: 60px;
    float: right;
    border: 2px solid #eee;
    margin-right: 4.7%;
    margin-bottom: 55px;
  }
  #name {
    outline: none;
    width: 73%;
    height: 60px;
    float: right;
    border: 2px solid #eee;
    margin-right: 4.7%;
    margin-bottom: 55px;
  }
  #name2 {
    outline: none;
    width: 69%;
    height: 60px;
    border: 2px solid #eee;
    margin-right: 4.7%;
    float: right;
    margin-bottom: 55px;
  }
  #surname:hover {
    border: 2px solid #283645;
  }
  #name:hover {
    border: 2px solid #283645;
  }
  #name2:hover {
    border: 2px solid #283645;
  }
  #surname:active {
    border: 2px solid #d22856;
  }
  #name:active {
    border: 2px solid #d22856;
  }
  #name2:active {
    border: 2px solid #d22856;
  }
  .form-info__app {
    display: none;
  }
  .form-info__app2 {
    display: block;
    width: 72.5%;
    padding-left: 60px;
    padding-right: 60px;
    padding-top: 60px;
    margin: 62px auto;
    height: 298px;
  }
  .form-info__contact {
    margin: 62px auto;
    padding-left: 60px;
    padding-top: 46px;
    padding-right: 60px;
    width: 72.5%;
  }
  .form-info__contact__legend {
    font-size: 14px;
    text-transform: uppercase;
    line-height: 30px;
    color: #d22856;
    text-align: center;
    padding-left: 28px;
    padding-right: 28px;
  }
  .text-after-radio {
    top: -38px;
  }
  .form-info__achivments2 {
    display: block;
    padding-right: 60px;
    padding-left: 60px;
    min-height: 610px;
    width: 72.5%;
    margin: 62px auto;
  }
  .form-info__achivments {
    display: none;
  }
  .form-textarea {
    width: 72.5%;
    margin: 0 auto;
    padding-top: 50px;
    padding-bottom: 50px;
    min-height: 294px;
  }
  .form-info__achivments__legend {
    text-align: center;
    padding-top: 0px;
    padding-left: 28px;
    padding-right: 28px;
  }
  #phone-number {
    width: 87.5%;
    height: 60px;
    border: 2px solid #eee;
  }
  #email {
    width: 87.5%;
    height: 60px;
    border: 2px solid #eee;
  }
  .form-btn-sent {
    width: 49%;
    float: left;
    height: 60px;
    text-align: center;
    font-size: 18px;
    line-height: 30px;
  }
  .form-btn {
    margin-top: 67px;
    width: 87.5%;
    height: 60px;
    margin-left: auto;
    margin-right: auto;
    min-height: 174px;
  }
  .form-btn-required {
    width: 185px;
    float: right;
    height: 60px;
    text-align: center;
  }
}
@media (min-width:1200px) {
  .title {
    width: 84%;
    height: 240px;
  }
  .form-info {
    margin: 0 auto;
    width: 40%;
    float: left;
    padding: 0;
    border: 0 none;
  }
  .form-textarea {
    width: 100%;
    margin: 0 auto;
    min-height: 294px;
  }
  .form-info__app2 {
    display: block;
    width: 36%;
    margin: 0 auto;
    float: right;
    padding-top: 50px;
    padding-right: 80px;
    padding-left: 80px;
    min-height: 298px;
  }
  .form-info__contact {
    min-height: 162px;
    height: 162px;
    width: 86.5%;
    padding-right: 80px;
    padding-left: 80px;
  }
  .phone,
  .mail {
    width: 9.3%;
    left: 79.6%;
    border-radius: 3px;
  }
  .label--tel2,
  .label--email2 {
    margin-bottom: 0;
    position: relative;
    top: -50px;
  }
  .form-info__list-item1 {
    width: 40%;
    float: left;
  }
  .form-info__list-item2 {
    width: 40%;
    float: right;
    margin-right: 6%;
  }
  .form-info__list-item-ach {
    width: 260px;
    float: left;
    margin-right: 86px;
  }
  .form-btn-sent {
    width: 31%;
    float: left;
    height: 60px;
    text-align: center;
  }
  .form-info__achivments2 {
    display: block;
    padding-right: 80px;
    padding-left: 80px;
    width: 86.5%;
    min-height: 300px;
    margin: 0 auto;
    height: 300px;
    margin-bottom: 60px;
  }
  .form-btn {
    margin-top: 67px;
    width: 100%;
    height: 60px;
    margin-left: auto;
    margin-right: auto;
    min-height: 174px;
  }
  .form-btn-required {
    width: 320px;
    float: right;
    height: 60px;
    font-size: 18px;
    text-align: center;
  }
}
.photo-load__form {
  width: 100%;
  background: #f2f2f2;
}
.crop-photo {
  opacity: 0.3;
}
.crop-photo:hover {
  opacity: 0.7;
}
.fill-photo {
  opacity: 0.3;
}
.fill-photo:hover {
  opacity: 0.7;
}
.contrast-photo {
  opacity: 0.3;
}
.contrast-photo:hover {
  opacity: 0.7;
}
.photo-load__form-wrapper {
  width: 320px;
  margin: 0 auto;
  background: #f2f2f2;
  padding-top: 20px;
}
.photo-load__tools {
  border-bottom: 1px solid #dddfe0;
  height: 142px;
}
.photo-load__form__btns {
  height: 170px;
  padding-top: 40px;
  padding-left: 20px;
}
.photo-load__form__btn--submit {
  outline: none;
  color: #d22856;
  height: 56px;
  width: 275px;
  border: 3px solid #d22856;
  border-radius: 30px;
  background: #f2f2f2;
  font-size: 18px;
  line-height: 18px;
  font-weight: 600;
}
.photo-load__form__btn--submit:hover {
  color: white;
  background: #d22856;
}
.photo-load__form__btn--submit:active {
  color: #e07e94;
  background: #d22856;
}
.photo-load__form__btn--resert {
  outline: none;
  margin-top: 15px;
  color: #dddfe0;
  height: 56px;
  width: 275px;
  border: 3px solid #dddfe0;
  border-radius: 30px;
  background: #f2f2f2;
  font-size: 18px;
  line-height: 18px;
  font-weight: 600;
}
.photo-load__form__btn--resert:hover {
  border: 3px solid #b5b9be;
}
.photo-load__form__btn--resert:active {
  background: #b5b9be;
  color: #cdcfd3;
}
.photo-load__tools-list {
  height: 72px;
}
.photo-load__tool {
  width: 47px;
  float: left;
  padding-top: 20px;
}
.photo-load__tool-crop {
  margin-left: 52px;
}
.photo-load__tool-contrast {
  margin-right: 52px;
}
.photo-load__tool-fill {
  margin-left: 34px;
  margin-right: 34px;
}
.controls__bar1 {
  margin: 0 auto;
  margin-bottom: 35px;
  width: 238px;
  border-top: 3px solid black;
}
.controls__toggle--contrast1 {
  border: 2px solid #d22856;
  position: relative;
  top: -10px;
  left: 200px;
  border-radius: 50%;
  width: 15px;
  height: 15px;
  margin-bottom: 35px;
  background: #f2f2f2;
  z-index: 10;
}
.controls__toggle--contrast1:active {
  background: #d22856;
}
@media (min-width:768px) {
  .controls__scale1 {
    display: none;
  }
  .photo-load__form {
    width: 100%;
    background: #f2f2f2;
  }
  .photo-load__form-wrapper {
    width: 620px;
    margin: 0 auto;
    background: #f2f2f2;
    height: 510px;
    padding-top: 20px;
  }
  .photo-load__form__btn--submit {
    height: 56px;
    width: 275px;
    margin-left: 45px;
  }
  .photo-load__form__btn--resert {
    height: 56px;
    margin-left: 45px;
    width: 275px;
  }
  .form-photo {
    margin-top: 36px;
    float: left;
  }
  .photo-load__tool {
    width: 47px;
    float: none;
    padding-top: 0;
  }
  .photo-load__tools {
    height: 300px;
  }
  .photo-load__tools-list {
    height: 300px;
    float: left;
  }
  .photo-load__tool-crop {
    width: 274px;
    border-bottom: 1px solid #dddfe0;
    height: 52px;
    padding-top: 13px;
    padding-bottom: 13px;
    margin-left: 0;
  }
  .photo-load__tool-contrast {
    width: 274px;
    border-bottom: 1px solid #dddfe0;
    height: 52px;
    margin-left: 0;
    padding-top: 13px;
    padding-bottom: 13px;
  }
  .photo-load__tool-fill {
    width: 274px;
    border-bottom: 1px solid #dddfe0;
    height: 52px;
    margin-left: 0;
    padding-top: 13px;
    padding-bottom: 13px;
    margin-right: 0;
  }
  .photo-load__tools {
    border-bottom: none;
    height: 286px;
    float: left;
    margin-top: 20px;
    width: 274px;
    margin-left: 40px;
  }
  .controls__bar {
    margin: 0 auto;
    margin-bottom: 35px;
    position: relative;
    top: -32px;
    left: 17px;
    width: 200px;
    border-top: 3px solid black;
  }
  .controls__toggle--crop,
  .controls__toggle--fill,
  .controls__toggle--fill {
    border: 2px solid #d22856;
    position: relative;
    top: -10px;
    left: 20px;
    border-radius: 50%;
    width: 15px;
    height: 15px;
    margin-bottom: 35px;
    background: #f2f2f2;
    z-index: 10;
  }
  .controls__toggle--crop:active {
    background: #d22856;
  }
  .controls__toggle--fill:active {
    background: #d22856;
  }
}
@media (min-width:768px) {
  .photo-load__form-wrapper {
    width: 800px;
  }
  .photo-load__tools {
    margin-left: 90px;
  }
  .photo-load__tools-list {
    height: 237px;
  }
  .controls__bar {
    width: 288px;
  }
  .photo-load__tool-fill,
  .photo-load__tool-crop,
  .photo-load__tool-contrast {
    width: 410px;
  }
  .photo-load__form__btn--submit {
    height: 56px;
    width: 181px;
    margin-left: 90px;
    float: left;
    margin-top: 74px;
  }
  .photo-load__form__btn--resert {
    height: 56px;
    float: right;
    margin-top: 74px;
    width: 181px;
  }
}
.slides {
  width: 87.5%;
  margin: 0 auto;
  height: 270px;
  margin-top: 50px;
}
.slides2 {
  display: none;
}
.slider-img,
.slider-controls2,
.slider-btn-1-2,
.slider-btn-1-3 {
  display: none;
}
.slide {
  width: 100%;
  min-height: 210px;
  margin-bottom: 40px;
}
.slider-controls {
  position: relative;
  bottom: -346px;
  height: 10px;
  left: 50%;
  z-index: 10;
  width: 200px;
  margin-left: -100px;
  text-align: center;
}
@media (min-width: 328px) {
  .slider-controls {
    bottom: -324px;
  }
}
@media (min-width: 384px) {
  .slider-controls {
    bottom: -300px;
  }
}
@media (min-width: 450px) {
  .slider-controls {
    bottom: -274px;
  }
}
.slider-btn-1,
.slider-btn-2,
.slider-btn-3 {
  display: inline-block;
  width: 7px;
  height: 7px;
  border-radius: 50%;
  margin-left: 20px;
  background: #bec2c7;
}
.slider-btn-1:hover {
  background: #9d9d9d;
}
.slider-btn-2:hover {
  background: #9d9d9d;
}
.slider-btn-3:hover {
  background: #9d9d9d;
}
.slider-btn-1:active {
  background: #fafafb;
}
.slider-btn-2:active {
  background: #fafafb;
}
.slider-btn-3:active {
  background: #fafafb;
}
input[type="radio"] {
  display: none;
}
.slide-title-second,
.slide-title2,
.slide-title-second2 {
  display: none;
}
.slide-title {
  text-align: center;
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
}
.slide-p {
  font-size: 18px;
  line-height: 30px;
  text-align: center;
}
@keyframes slideranimation {
  0% {
    transform: translateX(-2000px);
  }
  70% {
    transform: translateX(30px);
  }
  90% {
    transform: translateX(-5px);
  }
  100% {
    transform: translateX(0);
  }
}
@keyframes slideranimation2 {
  0% {
    transform: translateX(2000px);
  }
  70% {
    transform: translateX(-30px);
  }
  90% {
    transform: translateX(5px);
  }
  100% {
    transform: translateX(0);
  }
}
.slide {
  display: none;
}
#btn-1:checked ~ .slides .slide:nth-child(1) {
  animation: slideranimation 0.6s;
  display: block;
}
#btn-2:checked ~ .slides .slide:nth-child(2) {
  display: block;
  animation: slideranimation 0.6s;
}
#btn-3:checked ~ .slides .slide:nth-child(3) {
  display: block;
  animation: slideranimation 0.6s;
}
#btn-1:checked ~ .slider-controls label[for="btn-1"],
#btn-2:checked ~ .slider-controls label[for="btn-2"],
#btn-3:checked ~ .slider-controls label[for="btn-3"] {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  border: 3px solid black;
  background: white;
  top: 5px;
  left: 1px;
  transition-property: background-color;
  transition-duration: 3s;
  position: relative;
}
@media (min-width:768px) {
  .slide-title2,
  .slide-title-second2 {
    display: block;
  }
  .slide-title,
  .slide-title-second {
    display: none;
  }
  .slides {
    margin-top: 165px;
  }
  .slide-title2,
  .slide-title-second2 {
    text-align: center;
    font-size: 18px;
    line-height: 30px;
    font-weight: 700;
  }
  #btn-1:checked ~ .slides .slide:nth-child(1) {
    left: 0;
  }
  #btn-2:checked ~ .slides .slide:nth-child(2) {
    left: -100%;
  }
  #btn-3:checked ~ .slides .slide:nth-child(3) {
    left: -200%;
  }
  #btn-1:checked ~ .slider-controls label[for="btn-1"],
  #btn-2:checked ~ .slider-controls label[for="btn-2"],
  #btn-3:checked ~ .slider-controls label[for="btn-3"] {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    border: 3px solid black;
    background: white;
    top: 5px;
    left: 1px;
    transition-property: background-color;
    transition-duration: 3s;
    position: relative;
  }
  .slider-controls {
    bottom: -350px;
  }
}
@media (min-width:1200px) {
  .slides {
    display: none;
  }
  .slides2 {
    display: block;
    height: 200px;
  }
  .slider-controls {
    display: none;
  }
  .slide1-none {
    display: none;
  }
  .slide1 {
    animation: slideranimation2 0.6s;
    display: block;
  }
  .slide2 {
    animation: slideranimation2 0.6s;
    display: block;
  }
  .slide3 {
    animation: slideranimation2 0.6s;
    display: block;
  }
  .slide3-none {
    display: none;
  }
  .slide2-none {
    display: none;
  }
  .prev {
    position: relative;
    top: -145px;
    width: 30px;
    left: -172px;
  }
  .next {
    width: 30px;
    position: relative;
    top: -193px;
    left: 829px;
  }
  .slides2 {
    width: 56.5%;
    margin: 0 auto;
    margin-top: -39px;
  }
  .slider-img {
    display: block;
    width: 96px;
    margin: 0 auto;
    position: relative;
    top: -110px;
  }
  .slider-controls2 {
    display: block;
  }
  .slider-btn-1-2 {
    display: block;
    position: relative;
    top: 170px;
    left: 121px;
    width: 60px;
  }
  .slider-btn-1-3 {
    display: block;
    position: relative;
    top: 121px;
    right: -1061px;
    width: 60px;
  }
}
.price-slider {
  width: 100%;
  margin: 0 auto;
  clip-path: polygon(0 32px, 100% 0, 100% 100%, 0 100%);
  background: #f2f2f2;
  padding-top: 60px;
  height: 475px;
  margin-top: 60px;
}
.price__options,
.radio,
.price-2 {
  display: none;
}
.slider-btn-4,
.slider-btn-5,
.slider-btn-6 {
  display: inline-block;
  width: 7px;
  height: 7px;
  border-radius: 50%;
  margin-left: 20px;
  background: #bec2c7;
}
.slider-btn-4:hover {
  background: #9d9d9d;
}
.slider-btn-5:hover {
  background: #9d9d9d;
}
.slider-btn-6:hover {
  background: #9d9d9d;
}
.slider-btn-4:active {
  background: #fafafb;
}
.slider-btn-5:active {
  background: #fafafb;
}
.slider-btn-6:active {
  background: #fafafb;
}
.slide5 {
  animation: slideranimation 0.6s;
  display: block;
}
.slide6 {
  animation: slideranimation 0.6s;
  display: block;
}
.slide4-none {
  display: none;
}
.slide5-none {
  display: none;
}
.slide6-none {
  display: none;
}
.slide4 {
  animation: slideranimation 0.6s;
  display: block;
}
.slider-controls-price {
  position: relative;
  top: 379px;
  left: 50%;
  z-index: 10;
  width: 200px;
  margin-left: -100px;
  text-align: center;
}
@media (min-width: 450px) {
  .slider-controls-price {
    bottom: -274px;
  }
}
#btn-4:checked ~ .slider-controls-price label[for="btn-4"],
#btn-5:checked ~ .slider-controls-price label[for="btn-5"],
#btn-6:checked ~ .slider-controls-price label[for="btn-6"] {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  border: 3px solid black;
  background: white;
  top: 5px;
  left: 1px;
  transition-property: background-color;
  transition-duration: 3s;
  position: relative;
}
.price__header {
  display: block;
  width: 86.5%;
  height: 100px;
  border: 2px solid white;
  background: #283645;
  margin: 0 auto;
  text-align: center;
  border-bottom: none;
}
.price__title {
  line-height: 30px;
  font-size: 18px;
  color: white;
  font-weight: 600;
  text-transform: uppercase;
}
.price__cost {
  line-height: 0px;
  font-size: 24px;
  color: white;
  font-weight: 100;
}
.price__content-list {
  width: 86.5%;
  border: 2px solid #f2f2f2;
  background: white;
  margin: 0 auto;
  padding: 0px;
}
.price__content-item {
  padding-top: 15px;
  padding-left: 15%;
  line-height: 30px;
  font-size: 18px;
  border-bottom: 2px solid #f2f2f2;
  height: 45px;
  width: 86.5%;
}
.yes,
.no {
  float: right;
  margin-right: 20%;
}
.hit {
  animation: slideranimation 0.6s;
  position: relative;
  top: -290px;
  left: 6.8%;
}
.hit-none {
  display: none;
}
@media (min-width:768px) {
  .price-slider {
    display: none;
  }
  .price-2 {
    width: 100%;
    margin-top: 50px;
    height: 445px;
    padding-top: 0px;
    clip-path: polygon(0 56px, 100% 0, 100% 100%, 0 100%);
    background: #f2f2f2;
    padding-top: 60px;
    display: block;
  }
  .price__header,
  .price__item {
    display: block;
    width: 150px;
  }
  .slider__price-wrap {
    width: 620px;
    margin: 0 auto;
  }
  .price__item {
    margin-top: 76px;
    float: left;
  }
  .price__options {
    margin-top: 178px;
  }
  .price__content-item {
    width: 150px;
  }
  .price__content-list {
    width: 150px;
  }
  .slide4 {
    animation: none;
    display: block;
  }
  .slide5 {
    animation: none;
    display: block;
  }
  .slide6 {
    animation: none;
    display: block;
  }
  .yes,
  .no {
    float: right;
    margin-right: 50%;
  }
  .hit {
    position: relative;
    top: -290px;
    left: 302px;
  }
  .price__options-item {
    font-size: 14px;
    line-height: 30px;
  }
}
@media (min-width:1200px) {
  .price2 {
    clip-path: polygon(0 93px, 100% 0, 100% 100%, 0 100%);
  }
  .slider__price-wrap {
    width: 940px;
  }
  .price__header,
  .price__item {
    width: 235px;
  }
  .price__content-item {
    width: 235px;
  }
  .price__content-list {
    width: 235px;
  }
  .hit {
    left: 472px;
  }
  .price__options-item {
    font-size: 18px;
  }
}
.contact {
  height: 409px;
  width: 100%;
  background: white;
}
.contact__map-marker {
  display: none;
}
.trg {
  height: 36px;
  background-color: white;
  clip-path: polygon(0% 0, 100% 0, 50% 100%, 50% 100%, 0 0%);
}
.contact-title {
  margin: 0 auto;
  width: 223px;
  margin-top: 55px;
  text-align: center;
  line-height: 30px;
  font-size: 14px;
  font-weight: 100;
}
.contact-item_first {
  font-weight: 100;
}
.contacts--item__second--text,
.contacts--item__third--text,
.contact-item__first--text {
  color: #bd5672;
}
.contact-item__first,
.contact-item__second,
.contact-item__third {
  height: 90px;
  width: 225px;
  margin: 0 auto;
  text-align: center;
}
.contact-item__second--title .contact-item__third--title,
.contact-item__first--title {
  line-height: 30px;
  font-size: 18px;
  width: 90px;
  margin: 0 auto;
  margin-top: 40px;
}
.contact-item__second {
  height: 100px;
}
.contact-item__third {
  margin-top: 30px;
}
.contact__map {
  position: relative;
  top: -35px;
  z-index: -1;
  height: 250px;
  width: 100%;
  background: url(img/bg-map-mobile.jpg) no-repeat;
  background-position: -150px -420px;
}
@media (min-width:768px) {
  .contact {
    height: 409px;
    width: 100%;
    background: white;
  }
  .contact-item__first {
    margin-top: 64px;
    margin-left: 10%;
    float: left;
    width: 215px;
  }
  .contact-item__second {
    margin-top: 64px;
    margin-right: 10%;
    width: 215px;
  }
  .contact-item__third {
    margin-top: 64px;
  }
  .contact-title {
    height: 80px;
    width: 100%;
    font-size: 24px;
    line-height: 30px;
  }
  .contact-item_first {
    font-weight: 100;
  }
  .trg {
    height: 75px;
    background-color: white;
    clip-path: polygon(0% 0, 100% 0, 50% 100%, 50% 100%, 0 0%);
  }
  .contact__map {
    position: relative;
    top: -75px;
    z-index: -1;
    height: 250px;
    width: 100%;
    background: url(img/bg-map-tablet.jpg) no-repeat;
    background-position: -150px -420px;
  }
}
@media (min-width:1200px) {
  .contact {
    height: 370px;
  }
  .contact-title {
    height: 100px;
    width: 100%;
    font-size: 30px;
    line-height: 50px;
  }
  .contact-item__first {
    margin-top: 64px;
    margin-left: 10%;
    float: left;
    width: 215px;
  }
  .contact-item__second {
    float: left;
    margin-top: 64px;
    margin-left: 14%;
    width: 215px;
  }
  .contact-item__third {
    float: left;
    margin-top: 64px;
  }
  .contact__map-marker {
    display: block;
    position: relative;
    top: 390px;
    left: 45%;
  }
  .contact__map {
    position: relative;
    top: -105px;
    z-index: -1;
    height: 503px;
    width: 100%;
    background: url(img/bg-map-desktop@2x.jpg) no-repeat;
    background-position: -650px -720px;
  }
  .trg {
    height: 105px;
  }
}
