a {
  text-decoration: none;
  /* Отменяем подчеркивание у ссылки */
}
body {
  font-size: 18px;
  line-height: 27px;
  min-width: 320px;
  font-family: OpenSans, sans-serif;
  font-style: normal;
  margin: 0;
  padding: 0;
}
.page-header,
.page-header2 {
  height: auto;
  margin: 0 auto;
  min-width: 320px;
  background: url("img/background-mobile@2x.jpg") no-repeat;
}
.menu {
  height: 440px;
}
.page-header__wrapper {
  min-width: 320px;
}
.text {
  text-align: center;
}
.page-header__logo-image-li {
  position: absolute;
  top: 29px;
  left: 29px;
}
.site-list__link-close {
  position: absolute;
  top: 29px;
  left: 85%;
  float: right;
}
.page-header__logo-image-desktop {
  display: none;
}
.page-header__logo-image-mobile {
  margin-right: 20px;
}
.platforms__download {
  width: 60%;
  text-align: center;
  display: block;
  border: 3px solid white;
  border-radius: 50px;
  padding: 16px 40px;
  text-decoration: none;
  outline: none;
  display: inline-block;
  color: white;
  margin-top: 28px;
  margin-left: 7%;
}
.page-header__wrapper-border {
  height: 65px;
  display: block;
  background-color: rgba(31, 40, 51, 0.35);
}
.page-header__logo-image-mobile {
  float: left;
  padding-top: 21px;
  padding-left: 5%;
}
.page-header__button {
  float: right;
  background-color: rgba(31, 40, 51, 0);
  border: 0 none;
  padding-left: 5%;
}
.platforms__description {
  width: 72%;
  color: white;
  margin: 0 auto;
  margin-bottom: 37px;
  font-size: 12px;
  text-align: center;
  line-height: 24px;
}
.site-list__item-logo {
  display: none;
}
.main-nav__list,
.platforms__list {
  margin: 0;
  padding: 0;
  list-style: none;
}
.platforms__list {
  height: 109px;
  width: 72%;
  margin: 0 auto;
  padding-right: 30px;
}
.main-nav__list {
  min-height: 60px;
  width: 100%;
  text-align: center;
  min-height: 255px;
  background-color: #303947;
}
.site-list__item,
.site-list__iteml,
.site-list__item-m {
  height: 65px;
  border-top: 1px solid #474f5c;
  border-bottom: 2px solid black ;
  padding-top: 25px;
}
.site-list__item-m {
  padding-top: 93px;
}
.site-list__item-li {
  width: 50%;
  float: left;
  border-top: 1px solid #474f5c;
  border-bottom: 2px solid black ;
  height: 65px;
}
.site-list__item-close {
  width: 50%;
  float: right;
  color: white;
  padding-top: 25px;
  border-top: 1px solid #474f5c;
}
.site-list__link {
  height: 13px;
  color: white;
  text-decoration: none;
}
.platforms__wrapper {
  height: 275px;
  background-color: #252b34;
}
.platforms__item {
  display: inline-block;
  padding-left: 12.5%;
  padding-top: 30px;
}
.platforms__text {
  display: none;
}
.iphone-han {
  margin-bottom: 0;
  width: 80%;
  height: 395px;
}
.app__image-mobile {
  position: absolute;
  top: 622px;
}
.main-nav-desktop {
  display: none;
}
.app {
  min-height: 616px;
  width: 100%;
  margin: 0 auto;
}
.text-title {
  color: white;
  font-size: 24px;
  font-weight: 500;
  padding-top: 32px;
  padding-bottom: 32px;
}
.text__wrapper {
  height: auto;
}
@media (min-width:768px) {
  .menu {
    height: 440px;
  }
  .iphone-han {
    margin-bottom: 0;
    width: 60%;
    position: absolute;
    height: 351px;
    top: 818px;
    left: 24.2%;
  }
  .platforms__list {
    padding-left: 11%;
    list-style: none;
    padding-top: 10px;
    min-height: 130px;
  }
  .text-title {
    font-size: 50px;
    font-weight: 500;
    line-height: 50px;
  }
  .platforms__description {
    padding-left: 6%;
    width: 98%;
    color: white;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 37px;
    font-size: 18px;
    line-height: 24px;
  }
  .android-logo {
    opacity: 0.5;
  }
  .platforms__download {
    display: block;
    text-align: center;
    border: 3px solid white;
    border-radius: 50px;
    padding: 13px 40px;
    font-size: 18px;
    line-height: 18px;
    font-weight: 900;
    text-decoration: none;
    outline: none;
    display: inline-block;
    color: white;
    margin-left: 14%;
    margin-top: 0;
  }
  .platforms__text {
    font-size: 40px;
    font-weight: 10;
    line-height: 50px;
    display: block;
    height: 181px;
    color: white;
    width: 66%;
    margin: 0 auto;
    margin-left: 21%;
    text-align: center;
  }
  .page-header {
    height: 728px;
    background: url("img/background-tablet@1x.jpg") no-repeat;
  }
  .page-header2 {
    height: 437px;
    background: url("img/background-tablet@1x.jpg") no-repeat;
  }
  .text-title {
    color: white;
    padding-top: 82px;
  }
  .platforms__wrapper {
    position: relative;
    width: 50%;
    float: left;
    height: 415px;
    background-color: transparent;
    z-index: 5;
  }
  .app {
    width: 100%;
    margin: 0 auto;
    margin-top: 140px;
  }
}
@media (min-width: 770px) {
  .iphone-han {
    margin-bottom: 0;
    width: 60%;
    position: absolute;
    height: 351px;
    top: 816px;
    left: 24.2%;
  }
}
@media (min-width: 780px) {
  .iphone-han {
    margin-bottom: 0;
    width: 60%;
    position: absolute;
    height: 351px;
    top: 810px;
    left: 24.2%;
  }
}
@media (min-width:1200px) {
  .main-nav-desktop {
    display: block;
    height: 100px;
  }
  .main-nav__list {
    min-height: 60px;
    width: 100%;
    text-align: center;
    min-height: 105px;
    background-color: transparent;
  }
  .main-nav {
    display: none;
  }
  .platforms__text {
    display: block;
  }
  .app {
    width: 100%;
    max-width: 940px;
    margin: 0 auto;
  }
  .page-header {
    position: absolute;
    top: 0;
    width: 100%;
    background: url("img/background-fullsize.jpg");
  }
  .page-header2 {
    position: absolute;
    top: 0;
    width: 100%;
    background: url("img/background-fullsize.jpg");
  }
  .main-nav {
    width: 100%;
    margin: 0 auto;
  }
}
@media (min-width:768px) {
  .main-nav {
    width: auto;
    margin: 0;
    min-height: 105px;
  }
}
.platforms__item {
  display: inline-block;
}
.app__image-tablet {
  float: right;
  display: none;
}
.app__image-desktop {
  display: none;
  float: right;
}
.app__image-mobile {
  display: block;
  float: right;
}
@media (min-width:768px) {
  .main-nav__list {
    min-height: 69px;
    width: 100%;
  }
  .site-list__item {
    min-height: 60px;
  }
  .site-list__iteml {
    min-height: 60px;
  }
  .app__image-tablet {
    float: right;
    display: block;
  }
  .app__image-desktop {
    display: none;
    float: right;
  }
  .app__image-mobile {
    display: none;
    float: right;
  }
}
@media (min-width:1200px) {
  .main-nav__list {
    min-height: 105px;
    float: left;
    width: 50%;
    position: absolute;
    top: 35px;
    left: 46.8%;
  }
  .platforms__wrapper {
    margin-top: 130px;
  }
  .platforms__description {
    font-size: 18px;
    line-height: 24px;
    font-weight: 100;
  }
  .iphone-han {
    margin-bottom: 0;
    width: 550px;
    position: absolute;
    height: 351px;
    top: 390px;
    left: 49.2%;
  }
  .platforms__text {
    display: block;
    height: 181px;
    font-size: 50px;
    line-height: 50px;
    font-weight: 10;
    color: white;
    width: 56.5%;
    margin-left: 24%;
    text-align: center;
  }
  .platforms__list {
    min-height: 140px;
    padding-top: 25px;
    padding-left: 13%;
  }
  .site-list__item-desk {
    font-size: 18px;
    min-height: 105px;
    float: left;
    padding-right: 80px;
    color: white;
  }
  .site-list__item-desk {
    min-height: 60px;
    margin: 0 auto;
    float: left;
  }
  .site-list__iteml-desk {
    min-height: 60px;
  }
  .page-header__wrapper-border {
    display: none;
  }
  .page-header__logo-image-desktop {
    display: block;
    margin-left: 13%;
    margin-top: 26px;
    position: absolute;
    z-index: 2;
  }
  .platforms__download {
    font-size: 21px;
    line-height: 18px;
    font-weight: 900;
  }
  .main-nav-desktop {
    background-color: rgba(31, 40, 51, 0.35);
  }
  .site-list__link-desk {
    color: white;
  }
  .app__image-tablet {
    float: right;
    display: none;
  }
  .app__image-desktop {
    display: block;
    float: right;
  }
  .app__image-mobile {
    display: none;
    float: right;
  }
  .platforms__item {
    display: inline-block;
  }
  .text-title {
    text-align: center;
  }
}
.main-footer {
  display: none;
}
.main-footer2 {
  display: block;
  margin: 0 auto;
  width: 100%;
  min-height: 235px;
  max-width: 280px;
}
.footer-logo {
  margin-left: 6%;
  padding-top: 40px;
  display: block;
  margin: 0 auto;
  width: 146px;
}
.footer-social {
  margin-left: 65px;
  margin-top: 40px;
  float: left;
  width: 180px;
  height: 50px;
}
.footer-social__tw {
  width: 50px;
  height: 50px;
  border: 2px solid #d2d3d4;
  border-radius: 50%;
  padding: 10px;
}
.footer-social__fb {
  width: 50px;
  height: 50px;
  border: 2px solid #d2d3d4;
  border-radius: 50%;
  padding: 10px;
}
.footer-social__yt {
  width: 50px;
  height: 50px;
  border: 2px solid #d2d3d4;
  border-radius: 50%;
  padding: 10px;
}
.footer-img_social {
  height: 18px;
  width: 24px;
}
.footer-discribe {
  margin-top: 106px;
  margin-left: 93px;
  width: 93px;
  padding: 0;
  padding-left: 2px;
  background: #d22856;
  border: 2px solid transparent;
  border-radius: 5px;
  box-shadow: 0 0 10px #000000;
}
.vlad {
  color: black;
}
@media (min-width:768px) {
  .main-footer2 {
    display: none;
  }
  .main-footer {
    display: block;
    margin: 0 auto;
    width: 100%;
    min-height: 130px;
    max-width: 940px;
  }
  .footer-logo {
    margin-left: 6%;
    padding-top: 40px;
    display: block;
    float: left;
  }
  .footer-social {
    padding-top: 10px;
    margin-left: 18%;
    float: left;
    width: 22.8%;
  }
  .footer-social__tw {
    width: 50px;
    height: 50px;
    border: 2px solid #d2d3d4;
    border-radius: 50%;
    padding: 10px;
  }
  .footer-social__fb {
    width: 50px;
    height: 50px;
    border: 2px solid #d2d3d4;
    border-radius: 50%;
    padding: 10px;
    margin-left: 1.9%;
    margin-right: 1.9%;
  }
  .footer-social__yt {
    width: 50px;
    height: 50px;
    border: 2px solid #d2d3d4;
    border-radius: 50%;
    padding: 10px;
  }
  .footer-img_social {
    height: 18px;
    width: 24px;
  }
  .footer-discribe {
    margin: 0;
    margin-top: 56px;
    margin-right: 6%;
    float: right;
    width: auto;
    padding: 0;
    padding-left: 2px;
    background: #d22856;
    border: 2px solid transparent;
    border-radius: 5px;
    box-shadow: 0 0 10px #000000;
  }
  .vlad {
    color: black;
  }
}
@media (min-width:1200px) {
  .main-footer {
    margin: 0 auto;
    max-width: 940px;
    display: block;
    width: 100%;
  }
  .footer-logo {
    margin-left: 6%;
    display: block;
    float: left;
  }
  .footer-social {
    margin-left: 20%;
    float: left;
  }
  .footer-discribe {
    margin-right: 6%;
    float: right;
  }
}
body {
  font-size: 18px;
  line-height: 27px;
  font-family: OpenSans, sans-serif;
  font-style: normal;
}
img {
  max-width: 100%;
  height: auto;
}
.content {
  min-height: 1824px;
  margin-top: 0;
}
.content-wrapper {
  width: 100%;
  margin: 0 auto;
}
@media (min-width:768px) {
  .content-wrapper {
    width: 100%;
  }
}
@media (min-width:1200px) {
  .content {
    width: 100%;
    max-width: 940px;
  }
  .content-wrapper {
    max-width: 940px;
  }
}
.offer {
  min-height: 182px;
  margin: 0 auto;
}
.offer-title {
  padding-top: 50px;
  margin: 0 auto;
  text-align: center;
}
.offer-title2 {
  padding-top: 50px;
  margin: 0 auto;
  text-align: center;
}
@media (min-width:768px) {
  .offer-title {
    padding-top: 60px;
    margin: 0 auto;
    text-align: center;
  }
  .offer-title2 {
    padding-top: 0px;
    margin: 0 auto;
    text-align: center;
    width: 54%;
  }
}
@media (min-width:1200px) {
  .offer-title {
    padding-top: 85px;
    margin: 0 auto;
    text-align: center;
  }
  .offer-title2 {
    padding-top: 0px;
    margin: 0 auto;
    text-align: center;
    width: 44%;
  }
}
.info {
  margin-top: 80px;
  margin: 0 auto;
}
.info-wrapper {
  width: 100%;
}
.img-info1 {
  display: none;
}
.img-info2 {
  display: none;
}
.img-info3 {
  display: none;
}
.img-info5 {
  display: none;
}
.img-info4 {
  display: block;
  margin: 0 auto;
}
.info-item__third {
  margin: 0 auto;
}
.info-item__first {
  margin: 0 auto;
}
.info-item__second {
  margin: 0 auto;
}
.info-item__title {
  text-align: center;
}
.info-item__describe {
  text-align: center;
}
@media (min-width:768px) {
  .info {
    width: 100%;
    margin-top: 50px;
    min-height: 490px;
  }
  .info-wrapper {
    padding-top: 60px;
    padding-bottom: 50px;
  }
  .img-info5 {
    display: block;
    float: left;
  }
  .img-info4 {
    display: none;
    margin: 0 auto;
  }
}
@media (min-width:1200px) {
  .info {
    width: 100%;
    margin-top: 50px;
    min-height: 560px;
  }
  .img-info1 {
    display: block;
    margin: 0 auto;
  }
  .img-info2 {
    display: block;
    margin: 0 auto;
  }
  .img-info3 {
    display: block;
    margin: 0 auto;
  }
  .img-info4 {
    display: none;
  }
  .img-info5 {
    display: none;
  }
  .info-item__third {
    width: 27%;
    float: right;
  }
  .info-item__first {
    float: left;
    width: 27%;
  }
  .info-item__second {
    width: 27%;
    float: left;
    margin-left: 9%;
  }
}
.effect {
  display: none;
}
@media (min-width:768px) {
  .effect {
    display: block;
    width: 100%;
    margin: 0 auto;
    min-width: 620px;
    min-height: 337px;
  }
  .effect-wrapper {
    margin-top: 20px;
    float: right;
    margin-right: 7%;
    width: 48%;
  }
  .effect-img2 {
    display: none;
  }
  .effect-img1 {
    display: block;
    float: left;
  }
}
@media (min-width:1200px) {
  .effect {
    display: block;
    min-height: 337px;
  }
  .effect-wrapper {
    margin-top: 70px;
    float: right;
    width: 56%;
    margin-right: 0;
  }
  .effect-img1 {
    display: none;
  }
  .effect-img2 {
    display: block;
    float: left;
  }
}
.photo {
  display: block;
  margin: 0 auto;
  text-align: center;
  height: 184px;
  padding-top: 50px;
}
.photo-title {
  width: 76%;
  margin: 0 auto;
  font-size: 14px;
  line-height: 30px;
}
@media (min-width:768px) {
  .photo {
    width: 67%;
    padding-top: 110px;
    height: 228px;
  }
  .photo-title {
    width: 100%;
    margin: 0 auto;
    font-size: 18px;
    line-height: 30px;
  }
}
@media (min-width:1200px) {
  .photo {
    width: 49%;
    height: 240px;
  }
}
.photo-first {
  min-height: 331px;
  width: 100%;
  margin-bottom: 15px;
}
.photo-main__item {
  font-size: 12px;
  line-height: 24px;
  color: white;
  width: 140px;
  height: 30px;
  background-color: #d22856;
  text-align: center;
  padding-top: 5px;
  position: relative;
  top: 35px;
  left: 160px;
}
.photo-wrapper {
  height: 2586px;
}
.photo-main__title {
  margin-top: 0;
  font-size: 14px;
  line-height: 24px;
}
.photo-main__content {
  margin-top: 0;
  min-height: 105px;
  font-size: 14px;
  line-height: 24px;
}
.photo-main__counter-like-desk {
  display: none;
}
.time {
  font-size: 12px;
  line-height: 24px;
  color: #71777f;
  font-weight: 100;
}
.heart {
  padding-top: 10px;
  float: left;
  height: 15px;
}
.photo-main__counter-like {
  margin-left: 19px;
  font-size: 14px;
  line-height: 24px;
  color: #e3a6b3;
}
.photo-main1,
.photo-main2,
.photo-main3,
.photo-main4,
.photo-main5,
.photo-main6 {
  width: 88%;
  max-width: 280px;
  margin: 0 auto;
  margin-bottom: 15px;
}
.heart-desk {
  display: none;
}
.photo-main__discribe1 {
  width: 280px;
  display: block;
  margin: 0 auto;
  max-width: 320px;
  background: #f2f2f2;
  padding: 25px 17px;
}
.photo-main__discribe {
  max-width: 280px;
  padding: 25px 17px;
  background: #f2f2f2;
}
.photo-main-tablet {
  display: none;
}
.photo-main-desktop {
  display: none;
}
.photo-mobile {
  display: block;
  margin: 0 auto;
}
.photo-tablet {
  display: none;
}
.photo-desktop {
  display: none;
}
.words {
  width: 280px;
  margin: 0 auto;
  font-size: 14px;
  line-height: 30px;
  font-weight: 100;
  text-align: center;
}
.photo-main__footer-desk {
  display: none;
}
.photo-load__form {
  max-width: 940px;
  margin: 0 auto;
}
@media (min-width:768px) {
  .photo-main__item {
    width: 134px;
    top: 98px;
    left: 570px;
  }
  .photo-main1,
  .photo-main2,
  .photo-main3,
  .photo-main4,
  .photo-main5,
  .photo-main6 {
    margin-bottom: 55px;
  }
  .photo-first {
    min-height: 331px;
    width: 100%;
    margin-bottom: 15px;
  }
  .photo-wrapper {
    height: 1500px;
  }
  .photo-main__discribe1 {
    padding: 25px 29px;
    width: 620px;
    margin: 0 auto;
    display: block;
    max-width: 620px;
  }
  .photo-main__content-first {
    max-width: 530px;
    height: 40px;
    margin-top: 0;
    font-size: 14px;
    line-height: 24px;
  }
  .photo-main__counter-like {
    margin-right: 15px;
  }
  .photo-main__footer-first {
    display: none;
  }
  .photo-main__title {
    width: 448px;
    margin: 0;
    float: left;
  }
  .photo-main__footer-desk {
    display: block;
    float: left;
    padding-left: 40px;
  }
  .photo-main__counter-like {
    margin-left: 0;
  }
  .heart-desk {
    display: block;
    float: right;
    height: 15px;
    margin-top: 10px;
  }
  .heart {
    display: none;
  }
  .photo-main__discribe {
    max-width: 300px;
    padding: 25px 29px;
    background: #f2f2f2;
  }
  .photo-first {
    width: 100%;
  }
  .content {
    min-height: 1500px;
    max-width: 620px;
    margin: 0 auto;
  }
  .photo-main1,
  .photo-main3,
  .photo-main5 {
    width: 300px;
    height: 455px;
    float: left;
    max-width: 300px;
  }
  .photo-main2,
  .photo-main4,
  .photo-main6 {
    width: 300px;
    height: 455px;
    float: right;
    margin-left: 20px;
    max-width: 300px;
  }
  .photo-main-tablet {
    display: block;
  }
  .photo-main-mobile {
    display: none;
  }
  .photo-tablet {
    display: block;
  }
  .photo-mobile {
    display: none;
  }
  .words {
    width: 81%;
    font-size: 18px;
    line-height: 30px;
    font-weight: 100;
    margin: 0 auto;
    padding: 75px 0px;
    text-align: center;
  }
}
@media (min-width:1200px) {
  .photo-main__item {
    width: 140px;
    top: 120px;
    left: 1060px;
  }
  .photo-wrapper {
    height: 1286px;
  }
  .words {
    padding: 0;
  }
  .photo-main1,
  .photo-main2,
  .photo-main3,
  .photo-main4,
  .photo-main5,
  .photo-main6 {
    margin-bottom: 55px;
  }
  .content {
    min-height: 1500px;
    max-width: 940px;
    margin: 0 auto;
  }
  .photo-first {
    width: 100%;
    margin-bottom: 15px;
  }
  .photo-main__discribe1 {
    display: block;
    width: 100%;
    max-width: 940px;
  }
  .photo-main__content-first {
    max-width: 930px;
  }
  .photo-main__title {
    width: 748px;
  }
  .content-wrapper {
    min-height: 1170px;
    max-width: 940px;
    margin: 0 auto;
  }
  .photo-first {
    width: 100%;
  }
  .photo-main1,
  .photo-main2,
  .photo-main5,
  .photo-main4 {
    width: 300px;
    min-height: 559px;
    float: left;
  }
  .photo-main3,
  .photo-main6 {
    width: 300px;
    min-height: 559px;
    float: right;
    margin-left: 0;
  }
  .photo-main2,
  .photo-main5 {
    margin-left: 19px;
  }
  .photo-main4,
  .photo-main6 {
    margin-left: 0;
  }
  .photo-main__discribe {
    max-width: 300px;
    padding: 25px 29px;
    background: #f2f2f2;
  }
  .photo-main-tablet {
    display: none;
  }
  .photo-main-mobile {
    display: none;
  }
  .photo-main-desktop {
    display: block;
  }
  .photo-mobile {
    display: none;
  }
  .photo-tablet {
    display: none;
  }
  .photo-desktop {
    display: block;
  }
}
.title {
  display: block;
  margin: 0 auto;
  text-align: center;
  height: 184px;
  padding-top: 50px;
}
.title-paragraph {
  width: 76%;
  margin: 0 auto;
  font-size: 14px;
  line-height: 30px;
}
.form-text {
  width: 86%;
  text-align: center;
  margin: 0 auto;
}
.form-info__achivments2,
.form-info__app2,
.label--email2,
.label--tel2 {
  display: none;
}
fieldset {
  margin: 0;
  padding: 0;
  border: 0 none;
}
.form-info {
  margin: 0 auto;
  width: 87.5%;
  padding: 0;
}
.form-info__list {
  list-style: none;
  min-height: 335px;
}
.form-info__contact__legend {
  display: none;
}
.label--tel {
  float: left;
  width: 100%;
  padding-left: 8%;
}
.label--email {
  float: left;
  width: 100%;
  padding-left: 8%;
}
.form-info__legend {
  text-align: center;
}
ul {
  list-style: none;
}
.label-word {
  float: left;
  width: 100%;
  padding-left: 8%;
}
.form-textarea__legend {
  text-align: center;
}
.textarea-text {
  width: 87.5%;
  height: 200px;
  border: 2px solid #eee;
  margin-left: 6.25%;
}
#surname {
  width: 87.5%;
  height: 60px;
  border: 2px solid #eee;
}
#name {
  width: 87.5%;
  height: 60px;
  border: 1px solid #eee;
}
#name2 {
  width: 87.5%;
  height: 60px;
  border: 2px solid #eee;
}
.form-info__achivments {
  min-height: 610px;
}
.form-info__achivments__legend {
  text-align: center;
}
#phone-number {
  width: 87.5%;
  height: 60px;
  border: 2px solid #eee;
}
#email {
  width: 87.5%;
  height: 60px;
  border: 2px solid #eee;
}
.form-btn-sent {
  width: 100%;
  height: 60px;
  text-align: center;
}
.form-btn {
  width: 87.5%;
  height: 60px;
  margin: 0 auto;
}
.form-btn-required {
  width: 87.5%;
  margin: 0 auto;
  text-align: center;
}
@media (min-width:768px) {
  .title {
    width: 67%;
    padding-top: 110px;
    height: 228px;
  }
  .title-paragraph {
    width: 100%;
    margin: 0 auto;
    font-size: 18px;
    line-height: 30px;
  }
  .label--email,
  .label--tel {
    display: none;
  }
  .form-text {
    width: 87.5%;
    text-align: center;
    margin: 0 auto;
  }
  fieldset {
    border: 2px solid #eee;
  }
  .form-info {
    margin: 0 auto;
    width: 87.5%;
    padding: 0;
    border: 0 none;
  }
  .form-info__list-item1,
  .form-info__list-item2,
  .form-info__list-item {
    min-height: 70px;
  }
  .form-info__list {
    width: 100%;
    float: left;
    list-style: none;
    min-height: 335px;
  }
  .form-info__contact__legend {
    display: block;
    text-align: center;
  }
  .form-info__contact {
    margin: 0 auto;
    width: 87.5%;
    min-height: 310px;
  }
  .label--tel2 {
    display: block;
    width: 100%;
    padding-left: 3%;
  }
  .label--email2 {
    display: block;
    width: auto;
    padding-left: 3%;
  }
  .form-info__legend {
    text-align: center;
  }
  ul {
    list-style: none;
  }
  .label-word {
    float: left;
    min-height: 70px;
    width: 10%;
    padding: 0;
  }
  .form-textarea__legend {
    text-align: center;
  }
  .textarea-text {
    width: 87.5%;
    height: 200px;
    border: 2px solid #eee;
    margin-left: 6.25%;
  }
  #surname {
    width: 69%;
    height: 60px;
    float: right;
    border: 2px solid #eee;
    margin-right: 4.7%;
  }
  #name {
    width: 73%;
    height: 60px;
    float: right;
    border: 1px solid #eee;
    margin-right: 4.7%;
  }
  #name2 {
    width: 69%;
    height: 60px;
    border: 2px solid #eee;
    margin-right: 4.7%;
    float: right;
  }
  .form-info__app {
    display: none;
  }
  .form-info__app2 {
    display: block;
    width: 87.5%;
    margin: 0 auto;
    min-height: 298px;
  }
  .form-info__achivments2 {
    display: block;
    min-height: 610px;
    width: 87.5%;
    margin: 0 auto;
  }
  .form-info__achivments {
    display: none;
  }
  .form-textarea {
    width: 87.5%;
    margin: 0 auto;
    min-height: 294px;
  }
  .form-info__achivments__legend {
    text-align: center;
  }
  #phone-number {
    width: 87.5%;
    height: 60px;
    border: 2px solid #eee;
  }
  #email {
    width: 87.5%;
    height: 60px;
    border: 2px solid #eee;
  }
  .form-btn-sent {
    width: 49%;
    float: left;
    height: 60px;
    text-align: center;
  }
  .form-btn {
    margin-top: 67px;
    width: 87.5%;
    height: 60px;
    margin-left: auto;
    margin-right: auto;
    min-height: 174px;
  }
  .form-btn-required {
    width: 49%;
    float: right;
    height: 60px;
    text-align: center;
  }
}
@media (min-width:1200px) {
  .title {
    width: 84%;
    height: 240px;
  }
  .form-info {
    margin: 0 auto;
    width: 46%;
    float: left;
    padding: 0;
    border: 0 none;
  }
  .form-textarea {
    width: 100%;
    margin: 0 auto;
    min-height: 294px;
  }
  .form-info__app2 {
    display: block;
    width: 46%;
    margin: 0 auto;
    float: right;
    min-height: 298px;
  }
  .form-info__contact {
    height: 162px;
    width: 100%;
  }
  .form-info__list-item1 {
    width: 40%;
    float: left;
  }
  .form-info__list-item2 {
    width: 40%;
    float: right;
    margin-right: 6%;
  }
  .form-btn-sent {
    width: 31%;
    float: left;
    height: 60px;
    text-align: center;
  }
  .form-info__achivments2 {
    display: block;
    min-height: 610px;
    width: 100%;
    margin: 0 auto;
  }
  .form-btn {
    margin-top: 67px;
    width: 100%;
    height: 60px;
    margin-left: auto;
    margin-right: auto;
    min-height: 174px;
  }
  .form-btn-required {
    width: 31%;
    float: right;
    height: 60px;
    text-align: center;
  }
}
.photo-load__form {
  width: 100%;
  background: #f2f2f2;
}
.photo-load__form-wrapper {
  width: 320px;
  margin: 0 auto;
  background: #f2f2f2;
  padding-top: 20px;
}
.photo-load__tools {
  border-bottom: 1px solid #dddfe0;
  height: 142px;
}
.photo-load__form__btns {
  height: 170px;
  padding-top: 40px;
  padding-left: 20px;
}
.photo-load__form__btn--submit {
  color: #d22856;
  height: 56px;
  width: 275px;
  border: 3px solid #d22856;
  border-radius: 30px;
  background: #f2f2f2;
  font-size: 18px;
  line-height: 18px;
  font-weight: 600;
}
.photo-load__form__btn--resert {
  margin-top: 15px;
  color: #dddfe0;
  height: 56px;
  width: 275px;
  border: 3px solid #dddfe0;
  border-radius: 30px;
  background: #f2f2f2;
  font-size: 18px;
  line-height: 18px;
  font-weight: 600;
}
.photo-load__tools-list {
  height: 72px;
}
.photo-load__tool {
  width: 47px;
  float: left;
  padding-top: 20px;
}
.photo-load__tool-crop {
  margin-left: 52px;
}
.photo-load__tool-contrast {
  margin-right: 52px;
}
.photo-load__tool-fill {
  margin-left: 34px;
  margin-right: 34px;
}
.controls__bar1 {
  margin: 0 auto;
  margin-bottom: 35px;
  width: 238px;
  border-top: 3px solid black;
}
.controls__toggle--contrast1 {
  border: 2px solid #d22856;
  position: relative;
  top: -10px;
  left: 200px;
  border-radius: 50%;
  width: 15px;
  height: 15px;
  margin-bottom: 35px;
  background: #f2f2f2;
  z-index: 10;
}
@media (min-width:768px) {
  .controls__scale1 {
    display: none;
  }
  .photo-load__form {
    width: 100%;
    background: #f2f2f2;
  }
  .photo-load__form-wrapper {
    width: 620px;
    margin: 0 auto;
    background: #f2f2f2;
    height: 510px;
    padding-top: 20px;
  }
  .photo-load__form__btn--submit {
    height: 56px;
    width: 275px;
    margin-left: 45px;
  }
  .photo-load__form__btn--resert {
    height: 56px;
    margin-left: 45px;
    width: 275px;
  }
  .form-photo {
    margin-top: 36px;
    float: left;
  }
  .photo-load__tool {
    width: 47px;
    float: none;
    padding-top: 0;
  }
  .photo-load__tools {
    height: 300px;
  }
  .photo-load__tools-list {
    height: 300px;
    float: left;
  }
  .photo-load__tool-crop {
    width: 274px;
    border-bottom: 1px solid #dddfe0;
    height: 52px;
    padding-top: 13px;
    padding-bottom: 13px;
    margin-left: 0;
  }
  .photo-load__tool-contrast {
    width: 274px;
    border-bottom: 1px solid #dddfe0;
    height: 52px;
    margin-left: 0;
    padding-top: 13px;
    padding-bottom: 13px;
  }
  .photo-load__tool-fill {
    width: 274px;
    border-bottom: 1px solid #dddfe0;
    height: 52px;
    margin-left: 0;
    padding-top: 13px;
    padding-bottom: 13px;
    margin-right: 0;
  }
  .photo-load__tools {
    border-bottom: none;
    height: 286px;
    float: left;
    margin-top: 20px;
    width: 274px;
    margin-left: 40px;
  }
  .controls__bar {
    margin: 0 auto;
    margin-bottom: 35px;
    position: relative;
    top: -32px;
    left: 17px;
    width: 200px;
    border-top: 3px solid black;
  }
  .controls__toggle--crop,
  .controls__toggle--fill,
  .controls__toggle--fill {
    border: 2px solid #d22856;
    position: relative;
    top: -10px;
    left: 20px;
    border-radius: 50%;
    width: 15px;
    height: 15px;
    margin-bottom: 35px;
    background: #f2f2f2;
    z-index: 10;
  }
}
@media (min-width:768px) {
  .photo-load__form-wrapper {
    width: 800px;
  }
  .photo-load__tools {
    margin-left: 90px;
  }
  .photo-load__tools-list {
    height: 237px;
  }
  .controls__bar {
    width: 288px;
  }
  .photo-load__tool-fill,
  .photo-load__tool-crop,
  .photo-load__tool-contrast {
    width: 410px;
  }
  .photo-load__form__btn--submit {
    height: 56px;
    width: 181px;
    margin-left: 90px;
    float: left;
    margin-top: 74px;
  }
  .photo-load__form__btn--resert {
    height: 56px;
    float: right;
    margin-top: 74px;
    width: 181px;
  }
}
