.page-header {
  min-height: 728px;
  margin: 0 auto;
  min-width: 320px;
}
.text {
  text-align: center;
}
.page-header__logo-image {
  height: 22px;
}
.page-header__logo-image-desktop {
  display: none;
}
.page-header__wrapper-border {
  height: 65;
  display: block;
  background: red;
}
.site-list__item-logo {
  display: none;
}
.main-nav__list,
.platforms__list {
  margin: 0;
  padding: 0;
  list-style: none;
}
.main-nav__list {
  min-height: 255px;
}
.app {
  min-height: 616px;
  width: 80%;
  margin: 0 auto;
}
@media (min-width:768px) {
  .app {
    width: 100%;
    margin: 0 auto;
  }
}
@media (min-width:1200px) {
  .app {
    width: 100%;
    max-width: 940px;
    margin: 0 auto;
  }
}
.platforms__list {
  min-height: 161px;
}
.main-nav {
  width: 100%;
  margin: 0 auto;
}
@media (min-width:768px) {
  .main-nav {
    width: auto;
    margin: 0;
    min-height: 105px;
  }
}
.main-nav__list {
  min-height: 60px;
  width: 87%;
  text-align: center;
}
.site-list__item {
  min-height: 60px;
  margin: 0 auto;
}
.site-list__iteml {
  min-height: 60px;
}
.platforms__item {
  display: inline-block;
}
.app__image-tablet {
  float: right;
  display: none;
}
.app__image-desktop {
  display: none;
  float: right;
}
.app__image-mobile {
  display: block;
  float: right;
}
@media (min-width:768px) {
  .main-nav__list {
    min-height: 105px;
    float: left;
    width: 100%;
  }
  .platforms__description {
    margin: 0;
  }
  .site-list__item {
    min-height: 60px;
  }
  .site-list__iteml {
    min-height: 60px;
  }
  .app__image-tablet {
    float: right;
    display: block;
  }
  .app__image-desktop {
    display: none;
    float: right;
  }
  .app__image-mobile {
    display: none;
    float: right;
  }
  .platforms__description {
    margin-top: 0;
    margin-bottom: 0;
  }
}
@media (min-width:1200px) {
  .main-nav__list {
    min-height: 105px;
    float: left;
    width: 100%;
  }
  .page-header__wrapper-border {
    display: none;
  }
  .page-header__logo-image-desktop {
    display: block;
    margin-left: 13%;
    margin-top: 26px;
    position: absolute;
    z-index: 2;
  }
  .site-list__item {
    min-height: 105px;
    float: left;
    padding-right: 6%;
  }
  .site-list {
    width: 55%;
    margin-left: 45%;
    margin-top: 45px;
  }
  .site-list__iteml {
    min-height: 105px;
  }
  .app__image-tablet {
    float: right;
    display: none;
  }
  .app__image-desktop {
    display: block;
    float: right;
  }
  .app__image-mobile {
    display: none;
    float: right;
  }
  .platforms__item {
    display: inline-block;
  }
  .text-title {
    text-align: center;
  }
}
.main-footer {
  display: none;
}
@media (min-width:768px) {
  .main-footer {
    display: block;
    margin: 0 auto;
    width: 100%;
    max-width: 940%;
  }
  .footer-logo {
    margin-left: 6%;
    display: block;
    float: left;
  }
  .footer-social {
    margin-left: 10%;
    float: left;
  }
  .footer-discribe {
    margin-right: 6%;
    float: right;
  }
}
@media (min-width:1200px) {
  .main-footer {
    margin: 0 auto;
    max-width: 940px;
    display: block;
    width: 100%;
  }
  .footer-logo {
    margin-left: 6%;
    display: block;
    float: left;
  }
  .footer-social {
    margin-left: 20%;
    float: left;
  }
  .footer-discribe {
    margin-right: 11%;
    float: right;
  }
}
body {
  font-size: 18px;
  line-height: 27px;
  font-family: OpenSans, sans-serif;
  font-style: normal;
}
img {
  max-width: 100%;
  height: auto;
}
.content {
  min-height: 1824px;
  margin: 0 auto;
  margin-top: 0;
}
.content-wrapper {
  width: 100%;
  margin: 0 auto;
}
@media (min-width:768px) {
  .content-wrapper {
    width: 100%;
  }
}
@media (min-width:1200px) {
  .content-wrapper {
    width: 100%;
    max-width: 940px;
  }
}
.offer {
  min-height: 182px;
  margin: 0 auto;
}
.offer-title {
  padding-top: 50px;
  margin: 0 auto;
  text-align: center;
}
.offer-title2 {
  padding-top: 50px;
  margin: 0 auto;
  text-align: center;
}
@media (min-width:768px) {
  .offer-title {
    padding-top: 60px;
    margin: 0 auto;
    text-align: center;
  }
  .offer-title2 {
    padding-top: 0px;
    margin: 0 auto;
    text-align: center;
    width: 54%;
  }
}
@media (min-width:1200px) {
  .offer-title {
    padding-top: 85px;
    margin: 0 auto;
    text-align: center;
  }
  .offer-title2 {
    padding-top: 0px;
    margin: 0 auto;
    text-align: center;
    width: 44%;
  }
}
.info {
  margin-top: 80px;
  margin: 0 auto;
}
.info-wrapper {
  width: 100%;
}
.img-info1 {
  display: none;
}
.img-info2 {
  display: none;
}
.img-info3 {
  display: none;
}
.img-info5 {
  display: none;
}
.img-info4 {
  display: block;
  margin: 0 auto;
}
.info-item__third {
  margin: 0 auto;
}
.info-item__first {
  margin: 0 auto;
}
.info-item__second {
  margin: 0 auto;
}
.info-item__title {
  text-align: center;
}
.info-item__describe {
  text-align: center;
}
@media (min-width:768px) {
  .info {
    width: 100%;
    margin-top: 50px;
    min-height: 490px;
  }
  .info-wrapper {
    padding-top: 60px;
    padding-bottom: 50px;
  }
  .img-info5 {
    display: block;
    float: left;
  }
  .img-info4 {
    display: none;
    margin: 0 auto;
  }
}
@media (min-width:1200px) {
  .info {
    width: 100%;
    margin-top: 50px;
    min-height: 560px;
  }
  .img-info1 {
    display: block;
    margin: 0 auto;
  }
  .img-info2 {
    display: block;
    margin: 0 auto;
  }
  .img-info3 {
    display: block;
    margin: 0 auto;
  }
  .img-info4 {
    display: none;
  }
  .img-info5 {
    display: none;
  }
  .info-item__third {
    width: 27%;
    float: right;
  }
  .info-item__first {
    float: left;
    width: 27%;
  }
  .info-item__second {
    width: 27%;
    float: left;
    margin-left: 9%;
  }
}
.effect {
  display: none;
}
@media (min-width:768px) {
  .effect {
    display: block;
    width: 100%;
    margin: 0 auto;
    min-width: 620px;
    min-height: 337px;
  }
  .effect-wrapper {
    margin-top: 20px;
    float: right;
    margin-right: 7%;
    width: 48%;
  }
  .effect-img2 {
    display: none;
  }
  .effect-img1 {
    display: block;
    float: left;
  }
}
@media (min-width:1200px) {
  .effect {
    display: block;
    min-height: 337px;
  }
  .effect-wrapper {
    margin-top: 70px;
    float: right;
    width: 56%;
    margin-right: 0;
  }
  .effect-img1 {
    display: none;
  }
  .effect-img2 {
    display: block;
    float: left;
  }
}
.photo {
  display: block;
  margin: 0 auto;
  text-align: center;
}
@media (min-width:768px) {
  .photo {
    width: 57%;
  }
}
@media (min-width:1200px) {
  .photo {
    width: 49%;
  }
}
.photo-first {
  min-height: 331px;
  width: 100%;
}
.photo-main__item {
  width: 44%;
  height: 35px;
  background-color: #d22856;
  text-align: center;
  padding-top: 5px;
  text-decoration-color: white;
}
.photo-main1,
.photo-main2,
.photo-main3,
.photo-main4,
.photo-main5,
.photo-main6 {
  width: 88%;
  max-width: 280px;
  min-height: 331px;
  margin: 0 auto;
}
.photo-main__discribe1 {
  width: 88%;
  padding-left: 5%;
  margin: 0 auto;
  display: block;
  max-width: 320px;
}
.photo-main__discribe {
  width: 88%;
  padding: 0 5%;
}
.photo-main-tablet {
  display: none;
}
.photo-main-desktop {
  display: none;
}
.photo-mobile {
  display: block;
  margin: 0 auto;
}
.photo-tablet {
  display: none;
}
.photo-desktop {
  display: none;
}
.words {
  width: 88%;
  padding: 50px 5%;
  text-align: center;
}
@media (min-width:768px) {
  .photo-main__discribe1 {
    padding-left: 5%;
    width: 81%;
    margin: 0 auto;
    display: block;
    max-width: 620px;
  }
  .photo-first {
    width: 100%;
  }
  .photo-main__wrapper {
    min-height: 1500px;
    max-width: 620px;
    margin: 0 auto;
  }
  .photo-main__item {
    width: 18%;
    height: 35px;
    background-color: #d22856;
    text-align: center;
    padding-top: 5px;
    text-decoration-color: white;
  }
  .photo-main1,
  .photo-main3,
  .photo-main5 {
    width: 48%;
    min-height: 560px;
    float: left;
    max-width: 300px;
  }
  .photo-main2,
  .photo-main4,
  .photo-main6 {
    width: 48%;
    min-height: 560px;
    float: right;
    margin-left: 3.2%;
    max-width: 300px;
  }
  .photo-main__discribe {
    width: 100%;
    padding: 0 3%;
    min-height: 160px;
  }
  .photo-main-tablet {
    display: block;
  }
  .photo-main-mobile {
    display: none;
  }
  .photo-tablet {
    display: block;
  }
  .photo-mobile {
    display: none;
  }
  .words {
    width: 81%;
    margin: 0 auto;
    padding: 75px 0px;
    text-align: center;
  }
}
@media (min-width:1200px) {
  .photo-main__discribe1 {
    padding-left: 3%;
    display: block;
    width: 78%;
    max-width: 940px;
    margin: 0 auto;
  }
  .photo-main__wrapper {
    min-height: 1170px;
    max-width: 940px;
    margin: 0 auto;
  }
  .photo-first {
    width: 100%;
  }
  .photo-main__item {
    width: 12%;
    height: 35px;
    background-color: #d22856;
    text-align: center;
    padding-top: 5px;
    text-decoration-color: white;
  }
  .photo-main1,
  .photo-main2,
  .photo-main5,
  .photo-main4 {
    width: 31.9%;
    min-height: 455px;
    float: left;
  }
  .photo-main3,
  .photo-main6 {
    width: 31.9%;
    min-height: 455px;
    float: right;
    margin-left: 0;
  }
  .photo-main2,
  .photo-main5 {
    margin-left: 2%;
  }
  .photo-main4,
  .photo-main6 {
    margin-left: 0;
  }
  .photo-main__discribe {
    width: 100%;
    padding: 0 2%;
    min-height: 160px;
  }
  .photo-main-tablet {
    display: none;
  }
  .photo-main-mobile {
    display: none;
  }
  .photo-main-desktop {
    display: block;
  }
  .photo-mobile {
    display: none;
  }
  .photo-tablet {
    display: none;
  }
  .photo-desktop {
    display: block;
  }
}
.form-text {
  width: 86%;
  text-align: center;
  margin: 0 auto;
}
.form-info__achivments2,
.form-info__app2,
.label--email2,
.label--tel2 {
  display: none;
}
fieldset {
  margin: 0;
  padding: 0;
  border: 0 none;
}
.form-info {
  margin: 0 auto;
  width: 87.5%;
  padding: 0;
}
.form-info__list {
  list-style: none;
  min-height: 335px;
}
.form-info__contact__legend {
  display: none;
}
.label--tel {
  float: left;
  width: 100%;
  padding-left: 8%;
}
.label--email {
  float: left;
  width: 100%;
  padding-left: 8%;
}
.form-info__legend {
  text-align: center;
}
ul {
  list-style: none;
}
.label-word {
  float: left;
  width: 100%;
  padding-left: 8%;
}
.form-textarea__legend {
  text-align: center;
}
.textarea-text {
  width: 87.5%;
  height: 200px;
  border: 2px solid #eee;
  margin-left: 6.25%;
}
#surname {
  width: 87.5%;
  height: 60px;
  border: 2px solid #eee;
}
#name {
  width: 87.5%;
  height: 60px;
  border: 1px solid #eee;
}
#name2 {
  width: 87.5%;
  height: 60px;
  border: 2px solid #eee;
}
.form-info__achivments {
  min-height: 610px;
}
.form-info__achivments__legend {
  text-align: center;
}
#phone-number {
  width: 87.5%;
  height: 60px;
  border: 2px solid #eee;
}
#email {
  width: 87.5%;
  height: 60px;
  border: 2px solid #eee;
}
.form-btn-sent {
  width: 100%;
  height: 60px;
  text-align: center;
}
.form-btn {
  width: 87.5%;
  height: 60px;
  margin: 0 auto;
}
.form-btn-required {
  width: 87.5%;
  margin: 0 auto;
  text-align: center;
}
@media (min-width:768px) {
  .label--email,
  .label--tel {
    display: none;
  }
  .form-text {
    width: 87.5%;
    text-align: center;
    margin: 0 auto;
  }
  fieldset {
    border: 2px solid #eee;
  }
  .form-info {
    margin: 0 auto;
    width: 87.5%;
    padding: 0;
    border: 0 none;
  }
  .form-info__list-item1,
  .form-info__list-item2,
  .form-info__list-item {
    min-height: 70px;
  }
  .form-info__list {
    width: 100%;
    float: left;
    list-style: none;
    min-height: 335px;
  }
  .form-info__contact__legend {
    display: block;
    text-align: center;
  }
  .form-info__contact {
    margin: 0 auto;
    width: 87.5%;
    min-height: 310px;
  }
  .label--tel2 {
    display: block;
    width: 100%;
    padding-left: 3%;
  }
  .label--email2 {
    display: block;
    width: auto;
    padding-left: 3%;
  }
  .form-info__legend {
    text-align: center;
  }
  ul {
    list-style: none;
  }
  .label-word {
    float: left;
    min-height: 70px;
    width: 10%;
    padding: 0;
  }
  .form-textarea__legend {
    text-align: center;
  }
  .textarea-text {
    width: 87.5%;
    height: 200px;
    border: 2px solid #eee;
    margin-left: 6.25%;
  }
  #surname {
    width: 69%;
    height: 60px;
    float: right;
    border: 2px solid #eee;
    margin-right: 4.7%;
  }
  #name {
    width: 73%;
    height: 60px;
    float: right;
    border: 1px solid #eee;
    margin-right: 4.7%;
  }
  #name2 {
    width: 69%;
    height: 60px;
    border: 2px solid #eee;
    margin-right: 4.7%;
    float: right;
  }
  .form-info__app {
    display: none;
  }
  .form-info__app2 {
    display: block;
    width: 87.5%;
    margin: 0 auto;
    min-height: 298px;
  }
  .form-info__achivments2 {
    display: block;
    min-height: 610px;
    width: 87.5%;
    margin: 0 auto;
  }
  .form-info__achivments {
    display: none;
  }
  .form-textarea {
    width: 87.5%;
    margin: 0 auto;
    min-height: 294px;
  }
  .form-info__achivments__legend {
    text-align: center;
  }
  #phone-number {
    width: 87.5%;
    height: 60px;
    border: 2px solid #eee;
  }
  #email {
    width: 87.5%;
    height: 60px;
    border: 2px solid #eee;
  }
  .form-btn-sent {
    width: 49%;
    float: left;
    height: 60px;
    text-align: center;
  }
  .form-btn {
    margin-top: 67px;
    width: 87.5%;
    height: 60px;
    margin-left: auto;
    margin-right: auto;
    min-height: 174px;
  }
  .form-btn-required {
    width: 49%;
    float: right;
    height: 60px;
    text-align: center;
  }
}
@media (min-width:1200px) {
  .form-info {
    margin: 0 auto;
    width: 46%;
    float: left;
    padding: 0;
    border: 0 none;
  }
  .form-textarea {
    width: 100%;
    margin: 0 auto;
    min-height: 294px;
  }
  .form-info__app2 {
    display: block;
    width: 46%;
    margin: 0 auto;
    float: right;
    min-height: 298px;
  }
  .form-info__contact {
    height: 162px;
    width: 100%;
  }
  .form-info__list-item1 {
    width: 40%;
    float: left;
  }
  .form-info__list-item2 {
    width: 40%;
    float: right;
    margin-right: 6%;
  }
  .form-btn-sent {
    width: 31%;
    float: left;
    height: 60px;
    text-align: center;
  }
  .form-info__achivments2 {
    display: block;
    min-height: 610px;
    width: 100%;
    margin: 0 auto;
  }
  .form-btn {
    margin-top: 67px;
    width: 100%;
    height: 60px;
    margin-left: auto;
    margin-right: auto;
    min-height: 174px;
  }
  .form-btn-required {
    width: 31%;
    float: right;
    height: 60px;
    text-align: center;
  }
}
