.effect{
  display:none;
}
@media @tablet-widths{
  .effect{
    display:block;
    min-height: 337px;
  }
  .effect-discribe{
    width: 295px;

  }
  .effect-title{
    width: 165px;

  }
  .effect-wrapper{
    margin-top: 20px;
    float:right;
  }
  .effect-img2{display: none;}
  .effect-img1{
    display: block;
    float:left;
  }
}
@media @desktop-widths{
  .effect{
    display:block;
    min-height: 337px;
  }
  .effect-discribe{
    width: 525px;

  }
  .effect-title{
    width: 300px;

  }
  .effect-wrapper{
    margin-top: 110px;
    float:right;
  }
  .effect-img1{display: none;}
  .effect-img2{
    display: block;
    float:left;
  }
}
