.effect{
  display:none;
}
@media @tablet-widths{
  .effect{
    display:block;
    width: 100%;
    margin: 0 auto;
    min-width: 620px;
    min-height: 337px;
  }

  .effect-wrapper{
    margin-top: 20px;
    float:right;
        margin-right: 7%;
    width: 48%;
  }

  .effect-img2{display: none;}
  .effect-img1{
    display: block;
    float:left;
  }
}
@media @desktop-widths{
  .effect{
    display:block;
    min-height: 337px;
  }

  .effect-wrapper{
    margin-top: 70px;
    float: right;
    width: 56%;
    margin-right: 0;

  }
  .effect-img1{display: none;}
  .effect-img2{
    display: block;
    float:left;
  }
}
