.info{
  margin-top: 80px;

}
.info-wrapper{
  .container();
}
.img-info1{
  display: none;
}
.img-info2{
  display: none;
}
.img-info3{
  display: none;
}
.img-info5{
  display: none;
}
.img-info4{
  display: block;
  margin:0 auto;
}
.info-item__third{
  margin: 0 auto;
}
.info-item__first{

  margin: 0 auto;
}
.info-item__second{
  margin: 0 auto;
}
.info-item__title{
  text-align: center;
}
.info-item__describe{
  text-align: center;
}
@media @tablet-widths{
  .info{
    margin-top: 50px;

  }
  .info-wrapper{
    .container();
    padding-top: 60px;
    padding-bottom: 50px;
  }
  .img-info5{
    display: block;
    float: left;
  }

  .img-info4{
    display: none;
    margin:0 auto;
  }


}
@media @desktop-widths{
  .info{
    margin-top: 50px;
    min-height: 560px;
  }
  .img-info1{
    display: block;
    margin:0 auto;
  }
  .img-info2{
    display: block;
    margin:0 auto;
  }
  .img-info3{
    display: block;
    margin:0 auto;
  }
  .img-info4{
    display: none;
  }
  .img-info5{
    display: none;
  }
  .info-item__third{
    width:256px;
    float: right;
  }
  .info-item__first{
float: left;
    width:256px;
  }
  .info-item__second{
  width:256px;
  float: left;
  margin-left: 88px;
  }
}
