.content{
  min-height:1824px;
  margin:0 auto;
  margin-top: 0;
}
.content-wrapper{
  width: 320px;
  margin:0 auto;
}
@media @tablet-widths {
  .content-wrapper{
    .container();

  }
}
@media @desktop-widths{
  .content-wrapper{
    .container();

  }
}
