.content{
  min-height:1824px;
}
.content-wrapper{
  width: 100%;
  margin:0 auto;
}

@media @tablet-widths {
  .content-wrapper{
  width: 100%;
  }
}
@media @desktop-widths{
  .content{
    width: 100%;
max-width: 1200px;


  }
  .content-wrapper{

  max-width: 1200px;
  }

}
