.offer{
  min-height: 182px;

  margin:0 auto;
}
.offer-title{
  padding-top: 50px;
  margin:0 auto;
  text-align: center;
}
.offer-title2{
  padding-top: 50px;
  margin:0 auto;
  text-align: center;
}
@media @tablet-widths {
  .offer-title{
    padding-top:60px;
    margin: 0 auto;
    text-align: center;
  }
  .offer-title2{
    padding-top:0px;
    margin:0 auto;
    text-align: center;
    width: 335px;
  }
}
@media @desktop-widths {
  .offer-title{
    padding-top:85px;
    margin: 0 auto;
    text-align: center;
  }
  .offer-title2{
    padding-top:0px;
    margin:0 auto;
    text-align: center;
    width: 420px;
  }
}
