.main-footer{
  display: none;
}

.main-footer2{
  display:block;
  margin: 0 auto;
width: 100%;
min-height: 235px;
max-width: 280px;
}
.footer-logo{
  margin-left: 6%;
  padding-top: 40px;
  display: block;
margin: 0 auto;
width: 146px;
}
.footer-logo:active{
  opacity: 0.3;
}
.footer-social{


margin-left: 65px;
margin-top: 40px;
 float: left;
 width: 180px;
 height: 50px;
}
.footer-social__tw{
  width: 50px;
  height: 50px;
  border: 2px solid rgb(210,211,212);
  border-radius: 50%;
  padding: 10px;
}
.footer-social__fb{
  width: 50px;
  height: 50px;
  border: 2px solid rgb(210,211,212);
  border-radius: 50%;
  padding: 10px;

}
.footer-social__yt{
  width: 50px;
  height: 50px;
  border: 2px solid rgb(210,211,212);
  border-radius: 50%;
  padding: 10px;
}
.footer-social__tw:hover{
  border: 2px solid black;
}
  .footer-social__fb:hover{
    border: 2px solid black;
  }
    .footer-social__yt:hover{
      border: 2px solid black;
    }
    .footer-social__tw:active{
      border: 2px solid #bec2c7;
      opacity: 0.3;
    }
      .footer-social__fb:active{
        border: 2px solid #bec2c7;
        opacity: 0.3;
      }
        .footer-social__yt:active{
          border: 2px solid #bec2c7;
          opacity: 0.3;
        }
.footer-img_social{
  height: 18px;
  width: 24px;
}
.footer-discribe{
  margin-top: 106px;
  margin-left:93px;
  width: 93px;
  padding: 0;
  padding-left:2px;
  background:#d22856;;
  border: 2px solid transparent;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0,0,0,1);

}
.vlad{
  font-style: italic;
  color:black;
}
.footer-discribe:hover{

  background-color: purple;
  box-shadow: 0 0 30px rgba(0,0,0,1);
}
.footer-discribe:active{
    
  background-color: black;

  box-shadow: 0 0 30px rgba(0,0,0,1);
}
.vlad:active{
  color:red;
}

@media @tablet-widths{
  .main-footer2{display: none;}
  .main-footer{
    display:block;
    margin: 0 auto;
width: 100%;
min-height: 130px;
max-width: 940px;
  }
  .footer-logo{
    margin-left: 6%;
    padding-top: 40px;
    display: block;
    float: left;
  }
  .footer-logo:active{
    opacity: 0.3;
}
  .footer-social{
    padding-top: 10px;
margin-left: 18%;
   float: left;
   width: 22.8%;
  }
  .footer-social__tw{
    width: 50px;
    height: 50px;
    border: 2px solid rgb(210,211,212);
    border-radius: 50%;
    padding: 10px;
  }
  .footer-social__fb{
    width: 50px;
    height: 50px;
    border: 2px solid rgb(210,211,212);
    border-radius: 50%;
    padding: 10px;
    margin-left: 1.9%;
    margin-right: 1.9%;

  }
  .footer-social__yt{
    width: 50px;
    height: 50px;
    border: 2px solid rgb(210,211,212);
    border-radius: 50%;
    padding: 10px;
  }
  .footer-img_social{
    height: 18px;
    width: 24px;
  }
  .footer-discribe{
    margin: 0;
    margin-top: 56px;
    margin-right:6%;
    float: right;
    width: auto;
    padding: 0;
    padding-left:2px;
    background: #d22856;
    border: 2px solid transparent;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0,0,0,1);
  }
  .footer-discribe:hover{

    background-color: purple;
    box-shadow: 0 0 30px rgba(0,0,0,1);
      transition:box-shadow 0.6s;
  }
  .footer-discribe:active{
    animation: slideranimation 0.6s;
    background-color: black;
    box-shadow: 0 0 30px rgba(0,0,0,1);
  }
  .vlad{
    color:black;
  }
  .vlad:active{
    color:red;
  }
}
@media @desktop-widths{
  .main-footer{
      margin: 0 auto;
    max-width: 940px;
    display:block;
    width: 100%
  }
  .footer-logo{
    margin-left: 6%;
    display: block;
    float: left;
  }
  .footer-social{
margin-left: 20%;
   float: left;
  }
  .footer-discribe{
    margin-right:6%;
    float: right;
  }
}
