.photo-first{
  min-height: 331px;
  .container();
}
.photo-main__item{

width: 140px;
height: 35px;

  background-color: #d22856;
  text-align: center;
  padding-top: 5px;

  text-decoration-color: white;
}
.photo-main1,
.photo-main2,
.photo-main3,
.photo-main4,
.photo-main5,
.photo-main6{
  width: 280px;
  min-height: 331px;
  margin:0 auto;
}

.photo-main__discribe1{
  width: 280px;
  padding:0 15px;
}
.photo-main__discribe{
  width: 280px;
  padding:0 15px;
}
.photo-main-tablet{
  display: none;
}
.photo-main-desktop{
  display: none;
}
.photo-mobile{

  display: block;
  margin:0 auto;
}
.photo-tablet{

  display: none;
}
.photo-desktop{
  display: none;
}
.words{
  width:280px;
  padding: 50px 15px;
  text-align: center;
}
@media @tablet-widths {

  .photo-main__discribe1{
    padding:0 30px;
    width: 620px;

  }
  .photo-main__item{
  width: 140px;
  height: 35px;
    background-color: #d22856;
    text-align: center;
    padding-top: 5px;
    text-decoration-color: white;
  }
  .photo-main1,
  .photo-main3,
  .photo-main5{
    width: 300px;
    min-height: 560px;
    float: left;
  }
  .photo-main2,
  .photo-main4,
  .photo-main6{
    width: 300px;
    min-height: 560px;
    float: right;
  }
  .photo-main__discribe{
    width: 300px;
    padding:0 25px;
    min-height: 160px;
  }
  .photo-main-tablet{
    display: block;
  }
  .photo-main-mobile{
    display: none;
  }
  .photo-tablet{

    display: block;
  }
  .photo-mobile{

    display: none;
  }
  .words{
    width:620px;
    margin: 0 auto;
    padding: 75px 0px;
    text-align: center;
  }
}
@media @desktop-widths {

  .photo-main__discribe1{
    padding:0 30px;
    width: 940px;
  }
  .photo-main__item{
  width: 140px;
  height: 35px;
    background-color: #d22856;
    text-align: center;
    padding-top: 5px;
    text-decoration-color: white;
  }
  .photo-main1,
  .photo-main2,
  .photo-main5,
  .photo-main4{
    width: 300px;
    min-height: 455px;
    float: left;
  }
  .photo-main3,
  .photo-main6{
    width: 300px;
    min-height: 455px;
    float: right;
  }
  .photo-main2,
  .photo-main5{
    margin-left: 20px;

  }
  .photo-main__discribe{
    width: 300px;
    padding:0 25px;
    min-height: 160px;
  }
  .photo-main-tablet{
    display: none;
  }
  .photo-main-mobile{
    display: none;
  }
  .photo-main-desktop{
    display:block;
  }
  .photo-mobile{

    display: none;
  }
  .photo-tablet{

    display: none;
  }
  .photo-desktop{
    display: block;
  }

}
